In [1]:
import json
import pandas as pd
from sqlanalyzer import column_parser, query_analyzer

In [2]:
def extract_subquery_fields(query, db_fields, **kwargs):
    formatter = column_parser.Parser(query)
    formatted = formatter.format_query(query)
    fields = formatter.match_queried_fields(formatted, db_fields, **kwargs)
    return fields


def unnest_query_list(query_list):
    preprocess_list = []
    
    for q in query_list:
        for _, query in q.items():
            
            if isinstance(query, str):
                preprocess_list.append(query)
            else:
                
                for sub_q in query:
                    sub_list = []
                    for _, sub_query in sub_q.items():
                        
                        if isinstance(sub_query, str):
                            sub_list.append(sub_query)
                            
                        else:
                            for sub_sub_q in sub_query:
                                for _, sub_sub_query in sub_sub_q.items():
                                    
                                    if isinstance(sub_sub_query, str):
                                        sub_list.append(sub_sub_query)
                                        
                    preprocess_list.extend(sub_list)
                    
    return preprocess_list

In [3]:
# query = open('active_devs.sql').read()
query = """SELECT rrr.*,
       CASE
           WHEN entexc.sfdc_acct_id IS NOT NULL THEN TRUE
           ELSE FALSE
       END AS ent_exception,
       CASE
           WHEN pfree.mbx_acct_id IS NOT NULL THEN TRUE
           ELSE FALSE
       END AS paygo_free,
       meta.sku_type
FROM analytics.rack_rate_revenue rrr
LEFT JOIN enterprise_exception entexc ON rrr.sfdc_acct_id = entexc.sfdc_acct_id
AND rrr.mbx_acct_lvl = 'enterprise'
LEFT JOIN paygo_free pfree ON rrr.mbx_acct_id = pfree.mbx_acct_id
AND pfree.date_month BETWEEN DATE_ADD('month', -1, DATE(vdate)) AND DATE_ADD('day', -1, DATE(vdate))
LEFT JOIN analytics.sku_metadata meta ON rrr.sku_id = meta.sku_id
WHERE rrr.dt = '2020-06-30'
"""
formatter = column_parser.Parser(query)
formatted_query = formatter.format_query(query)
cte_queries = formatter.parse_cte(formatted_query)

In [ ]:
with open('./data.json', 'r') as f:
    query_dict = json.load(f)

In [ ]:
print(json.dumps(query_dict, indent=2), '\n\n\n')

In [ ]:
query_dict.keys()

In [4]:
print(cte_queries['main_query'])

SELECT rrr.*,
       CASE
           WHEN entexc.sfdc_acct_id IS NOT NULL THEN TRUE
           ELSE FALSE
       END AS ent_exception,
       CASE
           WHEN pfree.mbx_acct_id IS NOT NULL THEN TRUE
           ELSE FALSE
       END AS paygo_free,
       meta.sku_type
FROM analytics.rack_rate_revenue rrr
LEFT JOIN enterprise_exception entexc ON rrr.sfdc_acct_id = entexc.sfdc_acct_id
AND rrr.mbx_acct_lvl = 'enterprise'
LEFT JOIN paygo_free pfree ON rrr.mbx_acct_id = pfree.mbx_acct_id
AND pfree.date_month BETWEEN DATE_ADD('month', -1, DATE(vdate)) AND DATE_ADD('day', -1, DATE(vdate))
LEFT JOIN analytics.sku_metadata meta ON rrr.sku_id = meta.sku_id
WHERE rrr.dt = '2020-06-30'

## metastore

In [5]:
db_fields_1 = pd.DataFrame({'db_table': 'analytics.rack_rate_revenue', 
            'all_columns': ['vdate',
 'mbx_acct_id',
 'mbx_acct_lvl',
 'is_apa',
 'sfdc_acct_id',
 'sfdc_acct_name',
 'sfdc_acct_owner',
 'pod',
 'service_group',
 'sku_id',
 'subunits',
 'mtd_usage',
 'daily_revenue',
 'mtd_revenue',
 'discount_rate',
 'daily_revenue_w_discount',
 'mtd_revenue_w_discount',
 'dt']})

In [6]:
db_fields_2 = pd.DataFrame({'db_table': 'analytics.sku_metadata', 
            'all_columns': ['sku_id', 'sku_ty', 'sku_na']})

In [7]:
db_fields = db_fields_1.append(db_fields_2, ignore_index=True)
db_fields

                       db_table               all_columns
0   analytics.rack_rate_revenue                     vdate
1   analytics.rack_rate_revenue               mbx_acct_id
2   analytics.rack_rate_revenue              mbx_acct_lvl
3   analytics.rack_rate_revenue                    is_apa
4   analytics.rack_rate_revenue              sfdc_acct_id
5   analytics.rack_rate_revenue            sfdc_acct_name
6   analytics.rack_rate_revenue           sfdc_acct_owner
7   analytics.rack_rate_revenue                       pod
8   analytics.rack_rate_revenue             service_group
9   analytics.rack_rate_revenue                    sku_id
10  analytics.rack_rate_revenue                  subunits
11  analytics.rack_rate_revenue                 mtd_usage
12  analytics.rack_rate_revenue             daily_revenue
13  analytics.rack_rate_revenue               mtd_revenue
14  analytics.rack_rate_revenue             discount_rate
15  analytics.rack_rate_revenue  daily_revenue_w_discount
16  analytics.rack_rate_revenue    mtd_revenue_w_discount
17  analytics.rack_rate_revenue                        dt
18       analytics.sku_metadata                    sku_id
19       analytics.sku_metadata                    sku_ty
20       analytics.sku_metadata                    sku_na

In [8]:
raw_query = cte_queries['main_query']
formatter = column_parser.Parser(raw_query)
formatted = formatter.format_query(raw_query)
analyzer = query_analyzer.Analyzer(formatted)
query_dict = analyzer.parse_query(formatted)
preprocess_list = unnest_query_list(query_dict)

In [11]:
print(preprocess_list[0])

SELECT rrr.*,
       CASE
           WHEN entexc.sfdc_acct_id IS NOT NULL THEN TRUE
           ELSE FALSE
       END AS ent_exception,
       CASE
           WHEN pfree.mbx_acct_id IS NOT NULL THEN TRUE
           ELSE FALSE
       END AS paygo_free,
       meta.sku_type
FROM analytics.rack_rate_revenue rrr
LEFT JOIN enterprise_exception entexc ON rrr.sfdc_acct_id = entexc.sfdc_acct_id
AND rrr.mbx_acct_lvl = 'enterprise'
LEFT JOIN paygo_free pfree ON rrr.mbx_acct_id = pfree.mbx_acct_id
AND pfree.date_month BETWEEN DATE_ADD('month', -1, DATE(vdate)) AND DATE_ADD('day', -1, DATE(vdate))
LEFT JOIN analytics.sku_metadata meta ON rrr.sku_id = meta.sku_id
WHERE rrr.dt = '2020-06-30'

In [10]:
extract_subquery_fields(preprocess_list[0], db_fields)

[{'database_name': 'analytics',
  'table_name': 'rack_rate_revenue',
  'column_name': 'sfdc_acct_id'},
 {'database_name': 'analytics',
  'table_name': 'rack_rate_revenue',
  'column_name': 'mbx_acct_id'},
 {'database_name': 'analytics',
  'table_name': 'sku_metadata',
  'column_name': 'sku_id'},
 {'database_name': 'analytics',
  'table_name': 'rack_rate_revenue',
  'column_name': 'mbx_acct_lvl'},
 {'database_name': 'analytics',
  'table_name': 'rack_rate_revenue',
  'column_name': 'sku_id'},
 {'database_name': 'analytics',
  'table_name': 'rack_rate_revenue',
  'column_name': 'vdate'},
 {'database_name': 'analytics',
  'table_name': 'rack_rate_revenue',
  'column_name': 'dt'}]