In [8]:
from sqlanalyzer import column_parser
import pandas as pd
import sqlparse
import re

In [9]:
from sqlanalyzer import column_parser
import pandas as pd
import sqlparse
import re
import json


def get_joins_pos(query_list):

    pos_delete, pos_where = [len(query_list)-1], len(query_list)
    pos_join = []
    for i, line in enumerate(query_list):
        if line.startswith('ORDER') or line.startswith('GROUP'):
            pos_delete.append(i)
        if line.startswith('FROM') and len(line.split(' ')) > 1:
            pos_join.append(i)
        elif line.startswith('FROM') and len(line.split(' ')) == 1:
            pos_join.append(i+1)
        if line.startswith('WHERE'):
            pos_where = i
        if line.startswith('LEFT JOIN') or line.startswith('INNER JOIN') or line.startswith('FULL OUTER JOIN'):
            pos_join.append(i+1)

    if min(pos_delete) == len(query_list)-1:
        pos_join.append(min(pos_delete))
    else:
        pass

    return pos_join, pos_where


def get_alias_pos(query_list, pos_join, pos_where):

    pos_join_list = iter(pos_join)
    next(pos_join_list)
    alias_pos = []

    if query_list[pos_join[0]].startswith('FROM'):
        alias_pos.append(pos_join[0])

    for i in range(len(pos_join)-1):
        if i < len(pos_join)-2 and pos_join[i] < pos_where:
            end_pos = next(pos_join_list)-1
            alias_pos.append(end_pos-1)

        elif pos_join[-1] >= pos_where:
            end_pos = next(pos_join_list)-1
            alias_pos.append(pos_where - 1)
        
        else:
            end_pos = pos_join[-1]
            alias_pos.append(pos_where-1)

    alias_pos = sorted(list(set(alias_pos)))

    return alias_pos


def parse_sub_query(query_list, sub_query_pos):

    sub_query = {}
    keep = []
    for _, sub_pos in enumerate(sub_query_pos):
        alias = query_list[sub_pos[1]]
        query = query_list[sub_pos[0]: sub_pos[1]]

        try:
            alias_list_rev = alias.split(' ')[::-1]
            if alias_list_rev[0][-1] != ')':
                alias_index = alias_list_rev.index('ON')
                alias = alias_list_rev[alias_index+1]

                if alias_list_rev[alias_index+2] == 'AS':
                    keep.append(' '.join(alias_list_rev[:alias_index+3][::-1]))
                    del alias_list_rev[:alias_index+3]

                else:
                    keep.append(' '.join(alias_list_rev[:alias_index+2][::-1]))
                    del alias_list_rev[:alias_index+2]

                query.append(' '.join(alias_list_rev[::-1]).rstrip(r'\)').lstrip(' '))

            else:
                alias_list_rev[0] = alias_list_rev[0].rstrip(r'\)')
                alias = 'no alias'
                query.append(' '.join(alias_list_rev[::-1]))

        except:
            query.append(' '.join(alias.split(' ')[:-1]).rstrip(r'\)').lstrip(' '))
            alias = alias.split(' ')[-1]

        trans_query = ' '.join(query).lstrip(r' \(').lstrip(' FROM')
    
        if trans_query == '':
            sub_query = {}
        else:
            sub_query[alias] = trans_query
        
    return sub_query, keep


def delevel(query_list):

    sub_query = {}
    pos_join, pos_where = get_joins_pos(query_list)
    alias_pos = get_alias_pos(query_list, pos_join, pos_where)
    sub_query_pos = list(zip(pos_join, alias_pos))
    sub_query, keep = parse_sub_query(query_list, sub_query_pos)
    main_query_pos = main_query(query_list, sub_query_pos)
    if main_query_pos != []:
        sub_query['main'] = '\n'.join([query_list[p] for p in main_query_pos])
    sub_query['main'] = sub_query['main'] + ' ' + '\n'.join(keep)
    
    return sub_query


def has_child(formatted_query):
    
    count = 0
    if len(delevel(formatted_query.split('\n')).keys()) > 1:
        for _,v in delevel(formatted_query.split('\n')).items():
            if v != {}: count += 1
            
    return count != 0


def within(num, rng):
    if num >= min(rng) and num <= max(rng): return 1
    else: return 0

    
def main_query(query_list, sub_query_pos):
    l = []
    for i in range(len(query_list)): 
        count = 0
        for pair in sorted(sub_query_pos):
            count += within(i, pair)
        if count == 0:
            l.append(i)
    return l
        
    
def clean_dict(query_dict):
    for k,v in query_dict.items(): 
        if isinstance(v, dict) and len(v.keys()) == 1 and 'main' in v.keys():
            query_dict[k] = v['main']
    return query_dict

In [365]:
query = """SELECT *
   FROM
     (SELECT a.*,
             b.*,
             c.*,
             d.*
      FROM
        (SELECT DISTINCT anonymous_id,
                         user_id
         FROM mapbox_customer_data.segment_identifies
         WHERE dt >= '2018-07-01'
           AND anonymous_id IS NOT NULL
           AND user_id IS NOT NULL ) a
      LEFT JOIN
        (SELECT id,
                email,
                created
         FROM mapbox_customer_data.accounts
         WHERE cast(dt AS DATE) = CURRENT_DATE - INTERVAL '1' DAY ) b ON a.user_id = b.id
      LEFT JOIN
        (SELECT anonymous_id AS anon_id_ad,
                context_campaign_name,
                min(TIMESTAMP) AS min_exposure
         FROM mapbox_customer_data.segment_pages
         WHERE dt >= '2018-07-01'
           AND context_campaign_name IS NOT NULL
         GROUP BY 1,
                  2) c ON a.anonymous_id = c.anon_id_ad
      LEFT JOIN
        (SELECT DISTINCT anonymous_id AS anon_id_event,
                         original_timestamp,
                         event,
                         context_traits_email
         FROM mapbox_customer_data.segment_tracks
         WHERE dt >= '2018-07-01'
           AND event LIKE 'submitted_%form'
           AND context_traits_email IS NOT NULL ) d ON a.anonymous_id = d.anon_id_event
    LEFT JOIN
        (SELECT sfdc_accounts.platform, sfdc_accounts.mobile_os, sfdc_accounts.service_metadata,
sfdc_cases.account, sfdc_cases.num_requests, sfdc_cases.owner, sfdc_accounts.user_id
FROM sfdc.accounts sfdc_accounts
LEFT JOIN 
(SELECT MAX(dt) FROM 
    (SELECT dt 
    FROM sfdc.oppty 
    LEFT JOIN (SELECT MAX(dt) FROM (SELECT DISTINCT dt FROM sfdc.owner AS sfdc_owner) AS dt_owner ON sfdc_oppty.dt = sfdc_cases.dt)
    LEFT JOIN (SELECT dt FROM sfdc.cases) sfdc_cases ON sfdc_oppty.dt = sfdc_cases.dt) )
AS sfdc_cases_oppty ON sfdc_cases_oppty.dt = sfdc_accounts.dt
WHERE sfdc_cases_oppty.dt > '2020-04-03' AND sfdc_cases_oppty.dt < '2020-05-04' ORDER BY 1 GROUP BY 3 LIMIT 20
        ) e ON e.user_id = a.user_id
        )
   WHERE context_campaign_name IS NOT NULL 
"""

In [10]:
query = open('./sqlanalyzer/test_query.sql').read()
formatter = column_parser.Parser(query)
formatted_query = formatter.format_query(query)
query_list_0 = formatted_query.split('\n')
query_dict = {}
sub_query = delevel(query_list_0)
query_dict = sub_query

In [11]:
print(formatted_query)

WITH mapbox_accounts0 AS
  (SELECT id ,
          email AS email_accounts ,
          accountlevel
   FROM mapbox_customer_data.accounts
   WHERE dt = '{run_date}'
     AND COALESCE(LOWER(email), 'NULL') NOT LIKE ('%@mapbox.com')
     AND COALESCE(accountlevel, 'NULL') NOT IN ('staff',
                                                'mapbox-no-bill-1')
     AND id NOT IN ('streets-review-production') ),
     mbx_verticals AS
  (SELECT mapbox_account_id ,
          vertical
   FROM
     (SELECT * ,
             max(dt) OVER (PARTITION BY 'dummy') AS max_dt
      FROM analytics.mbx_account_verticals)
   WHERE dt = max_dt ),
     mbx_sfdc_accounts AS
  (SELECT a.* ,
          b.name AS sfdc_account_name
   FROM sfdc.mapbox_accounts a
   LEFT JOIN sfdc.accounts b ON a.dt = '{run_date}'
   AND b.dt = '{run_date}'
   AND a.salesforce_account_id = b.id
   WHERE a.dt = '{run_date}' ),
     enterprise_exception AS
  (SELECT *
   FROM (
         VALUES ('0013600000QmuNtAAJ') ,('00136000005AxApAAK') ,('00136000005AxMbAAK') ,('0013600001KDnawAAD') ,('0011R000020WJXyQAO') ,('00136000005AxCgAAK') ,('00136000005AxElAAK') ,('0013600001KDUFDAA5') ,('00136000005AxLLAA0') ,('00136000005Ax5QAAS') ,('00136000005AxLgAAK') ) AS v (sfdc_acct_id)),
     apa_deals0 AS
  (SELECT mbx_acct_id ,
          prd_start_date ,
          prd_end_date
   FROM
     (SELECT * ,
             max(dt) OVER (PARTITION BY 'dummy') AS max_dt
      FROM analytics.apa_deals)
   WHERE dt = max_dt ),
     apa_deals AS
  (SELECT DISTINCT rcal.vdate ,
                   apa.mbx_acct_id
   FROM apa_deals0 apa
   RIGHT JOIN analytics.ref_calendar rcal ON rcal.vdate BETWEEN apa.prd_start_date AND apa.prd_end_date),
     paygo_free AS
  (SELECT DISTINCT DATE(DATE_TRUNC('month', inv.date)) AS date_month ,
                   mbxacct.id AS mbx_acct_id
   FROM payments.stripe_invoices inv
   INNER JOIN payments.stripe_discounts disc ON inv.discount_id = disc.id
   INNER JOIN payments.stripe_coupons coup ON disc.coupon_id = coup.id
   AND coup.duration IN ('forever',
                         'repeating')
   AND coup.percent_off = 100
   INNER JOIN mapbox_customer_data.accounts mbxacct ON inv.customer_id = mbxacct.customerid
   AND mbxacct.dt = '{run_date}'
   WHERE inv.date >= DATE('2019-05-01') ),
     cohort_mapping AS
  (SELECT id ,
          email_accounts ,
          sfdc_account_id ,
          vertical ,
          revenue_group ,
          CASE
              WHEN revenue_group IN ('enterprise exception') THEN 'Cohort 1'
              WHEN revenue_group IN ('enterprise longtail',
                                     'spp') THEN 'Cohort 2'
              ELSE 'Cohort 3'
          END AS cohort
   FROM
     (SELECT a.id ,
             a.email_accounts ,
             mbx_sfdc.salesforce_account_id AS sfdc_account_id ,
             COALESCE(b.vertical, 'none') AS vertical ,
             CASE
                 WHEN entexp.sfdc_acct_id IS NOT NULL THEN 'enterprise exception'
                 WHEN spp.mbx_acct_id IS NOT NULL THEN 'spp'
                 WHEN a.accountlevel = 'enterprise' THEN 'enterprise longtail'
                 WHEN pfree.mbx_acct_id IS NOT NULL THEN 'paygo_free'
                 ELSE 'paygo'
             END AS revenue_group
      FROM mapbox_accounts0 a
      LEFT JOIN mbx_verticals b ON a.id = b.mapbox_account_id
      LEFT JOIN mbx_sfdc_accounts mbx_sfdc ON a.id = mbx_sfdc.mapbox_account_id
      LEFT JOIN enterprise_exception entexp ON mbx_sfdc.salesforce_account_id = entexp.sfdc_acct_id
      LEFT JOIN apa_deals spp ON a.id = spp.mbx_acct_id
      AND spp.vdate = DATE('{run_date}')
      LEFT JOIN paygo_free pfree ON a.id = pfree.mbx_acct_id
      AND pfree.date_month BETWEEN ADD_MONTHS(DATE('{run_date}'), -1) AND DATE_SUB(DATE('{run_date}'), 1))),
     service_mapping AS
  (SELECT DISTINCT sku_id AS service ,
                   service_org
   FROM
     (SELECT DISTINCT sku_id ,
                      service_org ,
                      dt ,
                      max(dt) OVER (PARTITION BY 'dummy') AS max_dt
      FROM analytics.service_endpoint_mapping
      WHERE cast(dt AS DATE) >= CURRENT_DATE - INTERVAL '4' DAY )
   WHERE dt = max_dt ),
     weekly_data0 AS
  (SELECT (date_trunc('WEEK',(cast(a.dt AS DATE) + INTERVAL '1' DAY)) - INTERVAL '1' DAY) AS dt_week ,
          a.log_source ,
          a.platform ,
          a.service ,
          COALESCE(c.service_org, 'other') AS service_org ,
          CASE
              WHEN a.status_code IN (301,
                                     302,
                                     307)
                   OR a.status_code >= 400 THEN 'non_billable'
              ELSE 'billable'
          END AS status_code ,
          CASE
              WHEN a.request_type IS NULL THEN 'non_billable'
              ELSE a.request_type
          END AS request_type ,
          b.cohort ,
          'all_cohort' AS dummy ,
          b.vertical ,
          a.account ,
          COALESCE(b.sfdc_account_id, a.account) AS sfdc_account_id ,
          sum(a.num_requests) AS num_requests
   FROM analytics.api_requests a
   INNER JOIN cohort_mapping b ON a.account = b.id
   LEFT JOIN service_mapping c ON a.service = c.service
   WHERE cast(a.dt AS DATE) > cast('{run_date}' AS DATE) - INTERVAL '14' DAY
     AND cast(a.dt AS DATE) <= cast('{run_date}' AS DATE)
     AND a.account != 'unknown'
   GROUP BY 1,
            2,
            3,
            4,
            5,
            6,
            7,
            8,
            9,
            10,
            11,
            12
   UNION ALL SELECT (date_trunc('WEEK',(cast(a.dt AS DATE) + INTERVAL '1' DAY)) - INTERVAL '1' DAY) AS dt_week ,
                    a.log_source ,
                    a.platform ,
                    a.service ,
                    COALESCE(c.service_org, 'other') AS service_org ,
                    CASE
                        WHEN a.status_code IN (301,
                                               302,
                                               307)
                             OR a.status_code >= 400 THEN 'non_billable'
                        ELSE 'billable'
                    END AS status_code ,
                    CASE
                        WHEN a.request_type IS NULL THEN 'non_billable'
                        ELSE a.request_type
                    END AS request_type ,
                    'Cohort 2, 3' AS cohort ,
                    'cohort_2_3' AS dummy ,
                    b.vertical ,
                    a.account ,
                    COALESCE(b.sfdc_account_id, a.account) AS sfdc_account_id ,
                    sum(a.num_requests) AS num_requests
   FROM analytics.api_requests a
   INNER JOIN cohort_mapping b ON a.account = b.id
   AND b.cohort IN ('Cohort 2',
                    'Cohort 3')
   LEFT JOIN service_mapping c ON a.service = c.service
   WHERE cast(a.dt AS DATE) > cast('{run_date}' AS DATE) - INTERVAL '14' DAY
     AND cast(a.dt AS DATE) <= cast('{run_date}' AS DATE)
     AND a.account != 'unknown'
     AND b.cohort IN ('Cohort 2',
                      'Cohort 3')
   GROUP BY 1,
            2,
            3,
            4,
            5,
            6,
            7,
            8,
            9,
            10,
            11,
            12),
     cubed_data0_pre AS
  (SELECT dt_week ,
          log_source ,
          platform ,
          service ,
          service_org ,
          status_code ,
          request_type ,
          cohort ,
          vertical ,
          account ,
          sfdc_account_id ,
          num_requests
   FROM
     (SELECT dt_week ,
             log_source ,
             platform ,
             service ,
             service_org ,
             status_code ,
             request_type ,
             cohort ,
             dummy ,
             vertical ,
             account ,
             sfdc_account_id ,
             sum(num_requests) AS num_requests
      FROM weekly_data0
      GROUP BY dt_week,
               log_source,
               platform,
               service,
               service_org,
               status_code,
               request_type,
               account,
               cohort,
               dummy,
               vertical,
               sfdc_account_id WITH CUBE)
   WHERE dummy IS NOT NULL
     AND NOT (cohort IS NULL
              AND dummy != 'all_cohort')
     AND NOT (service IS NOT NULL
              AND service_org IS NULL)
     AND sfdc_account_id IS NOT NULL
     AND dt_week IS NOT NULL ),
     cubed_data AS
  (SELECT a.dt_week ,
          COALESCE(a.log_source, '_all') AS log_source ,
          COALESCE(a.platform, '_all') AS platform ,
          COALESCE(a.service, '_all') AS service ,
          COALESCE(a.service_org, '_all') AS service_org ,
          COALESCE(a.status_code, '_all') AS status_code ,
          COALESCE(a.request_type, '_all') AS request_type ,
          COALESCE(a.cohort, '_all') AS cohort ,
          COALESCE(a.vertical, '_all') AS vertical ,
          COALESCE(a.account, '_all') AS account ,
          a.sfdc_account_id AS sfdc_account_id ,
          a.num_requests
   FROM cubed_data0_pre a),
     this_week AS
  (SELECT dt_week ,
          log_source ,
          platform ,
          service ,
          service_org ,
          status_code ,
          request_type ,
          cohort ,
          vertical ,
          account AS account_a ,
          sfdc_account_id ,
          num_requests
   FROM cubed_data),
     last_week AS
  (SELECT cast(dt_week AS DATE) + INTERVAL '7' DAY AS dt_week ,
                                                      log_source ,
                                                      platform ,
                                                      service ,
                                                      service_org ,
                                                      status_code ,
                                                      request_type ,
                                                      cohort ,
                                                      vertical ,
                                                      account AS account_b ,
                                                      sfdc_account_id ,
                                                      num_requests
   FROM cubed_data),
     total_join AS
  (SELECT coalesce(b.account_b, a.account_a) AS account ,
          coalesce(b.sfdc_account_id, a.sfdc_account_id) AS sfdc_account_id ,
          coalesce(b.cohort, a.cohort) AS cohort ,
          coalesce(b.vertical, a.vertical) AS vertical ,
          coalesce(cast(b.dt_week AS DATE), cast(a.dt_week AS DATE)) AS dt_week ,
          coalesce(b.service, a.service) AS service ,
          coalesce(b.service_org, a.service_org) AS service_org ,
          coalesce(b.log_source, a.log_source) AS log_source ,
          coalesce(b.platform, a.platform) AS platform ,
          coalesce(b.status_code, a.status_code) AS status_code ,
          coalesce(b.request_type, a.request_type) AS request_type ,
          coalesce(a.num_requests, 0) AS this_week ,
          coalesce(b.num_requests, 0) AS last_week ,
          COALESCE(a.num_requests, 0) - coalesce(b.num_requests, 0) AS diff
   FROM this_week a
   LEFT JOIN last_week b ON a.account_a = b.account_b
   AND a.sfdc_account_id = b.sfdc_account_id
   AND a.cohort = b.cohort
   AND a.vertical = b.vertical
   AND a.service = b.service
   AND a.service_org = b.service_org
   AND a.log_source = b.log_source
   AND a.platform = b.platform
   AND a.request_type = b.request_type
   AND a.status_code = b.status_code
   AND cast(a.dt_week AS DATE) = cast(b.dt_week AS DATE)),
     winners_pre AS
  (SELECT * ,
          row_number() OVER (PARTITION BY dt_week,
                                          log_source,
                                          service,
                                          service_org,
                                          platform,
                                          request_type,
                                          status_code,
                                          cohort,
                                          vertical
                             ORDER BY diff DESC) AS rank
   FROM total_join
   WHERE account = '_all'
     AND cast(dt_week AS DATE) + INTERVAL '6' DAY = cast('{run_date}' AS DATE)
     AND diff > 0
     AND account != 'unknown'
   UNION ALL SELECT * ,
                    row_number() OVER (PARTITION BY dt_week,
                                                    log_source,
                                                    service,
                                                    service_org,
                                                    platform,
                                                    request_type,
                                                    status_code,
                                                    cohort,
                                                    vertical
                                       ORDER BY diff DESC) AS rank
   FROM total_join
   WHERE account != '_all'
     AND cast(dt_week AS DATE) + INTERVAL '6' DAY = cast('{run_date}' AS DATE)
     AND diff > 0
     AND account != 'unknown' ),
     winners AS
  (SELECT 'Winners' AS category ,
          log_source ,
          service ,
          service_org ,
          account ,
          sfdc_account_id ,
          cohort ,
          vertical ,
          platform ,
          status_code ,
          request_type ,
          cast(dt_week AS DATE) + INTERVAL '6' DAY AS dt_week ,
                                                      this_week ,
                                                      last_week ,
                                                      diff ,
                                                      rank
   FROM winners_pre
   WHERE rank <= 50
     AND diff > 0
     AND account != 'unknown' ),
     losers_pre AS
  (SELECT * ,
          row_number() OVER (PARTITION BY dt_week,
                                          log_source,
                                          service,
                                          service_org,
                                          platform,
                                          request_type,
                                          status_code,
                                          cohort,
                                          vertical
                             ORDER BY diff ASC) AS rank
   FROM total_join
   WHERE account = '_all'
     AND cast(dt_week AS DATE) + INTERVAL '6' DAY = cast('{run_date}' AS DATE)
     AND diff < 0
     AND account != 'unknown'
   UNION ALL SELECT * ,
                    row_number() OVER (PARTITION BY dt_week,
                                                    log_source,
                                                    service,
                                                    service_org,
                                                    platform,
                                                    request_type,
                                                    status_code,
                                                    cohort,
                                                    vertical
                                       ORDER BY diff ASC) AS rank
   FROM total_join
   WHERE account != '_all'
     AND cast(dt_week AS DATE) + INTERVAL '6' DAY = cast('{run_date}' AS DATE)
     AND diff < 0
     AND account != 'unknown' ),
     losers AS
  (SELECT 'Losers' AS category ,
          log_source ,
          service ,
          service_org ,
          account ,
          sfdc_account_id ,
          cohort ,
          vertical ,
          platform ,
          status_code ,
          request_type ,
          cast(dt_week AS DATE) + INTERVAL '6' DAY AS dt_week ,
                                                      this_week ,
                                                      last_week ,
                                                      diff ,
                                                      rank
   FROM losers_pre
   WHERE rank <= 50
     AND diff < 0
     AND account != 'unknown' ),
     final_winners_losers AS
  (SELECT category ,
          log_source ,
          service ,
          service_org ,
          account ,
          sfdc_account_id ,
          cohort ,
          vertical ,
          platform ,
          status_code ,
          request_type ,
          this_week ,
          last_week ,
          diff ,
          rank
   FROM losers
   WHERE cast(dt_week AS DATE) = cast('{run_date}' AS DATE)
   UNION ALL SELECT category ,
                    log_source ,
                    service ,
                    service_org ,
                    account ,
                    sfdc_account_id ,
                    cohort ,
                    vertical ,
                    platform ,
                    status_code ,
                    request_type ,
                    this_week ,
                    last_week ,
                    diff ,
                    rank
   FROM winners
   WHERE cast(dt_week AS DATE) = cast('{run_date}' AS DATE) )
SELECT *
FROM final_winners_losers

In [342]:
query_dict['no alias']

"SELECT a.*,           b.*,           c.*,           d.*    FROM      (SELECT DISTINCT anonymous_id,                       user_id       FROM mapbox_customer_data.segment_identifies       WHERE dt >= '2018-07-01'         AND anonymous_id IS NOT NULL         AND user_id IS NOT NULL ) a    LEFT JOIN      (SELECT id,              email,              created       FROM mapbox_customer_data.accounts       WHERE cast(dt AS DATE) = CURRENT_DATE - INTERVAL '1' DAY ) b ON a.user_id = b.id    LEFT JOIN      (SELECT anonymous_id AS anon_id_ad,              context_campaign_name,              min(TIMESTAMP) AS min_exposure       FROM mapbox_customer_data.segment_pages       WHERE dt >= '2018-07-01'         AND context_campaign_name IS NOT NULL       GROUP BY 1,                2) c ON a.anonymous_id = c.anon_id_ad    LEFT JOIN      (SELECT DISTINCT anonymous_id AS anon_id_event,                       original_timestamp,                       event,                       context_traits_email       FROM mapbox_customer_data.segment_tracks       WHERE dt >= '2018-07-01'         AND event LIKE 'submitted_%form'         AND context_traits_email IS NOT NULL ) d ON a.anonymous_id = d.anon_id_event    LEFT JOIN      (SELECT sfdc_accounts.platform,              sfdc_accounts.mobile_os,              sfdc_accounts.service_metadata,              sfdc_cases.account,              sfdc_cases.num_requests,              sfdc_cases.owner,              sfdc_accounts.user_id       FROM sfdc.accounts sfdc_accounts       LEFT JOIN         (SELECT MAX(dt)          FROM            (SELECT dt             FROM sfdc.oppty             LEFT JOIN               (SELECT MAX(dt)                FROM                  (SELECT DISTINCT dt                   FROM sfdc.owner AS sfdc_owner) AS dt_owner ON sfdc_oppty.dt = sfdc_cases.dt)             LEFT JOIN               (SELECT dt                FROM sfdc.cases) sfdc_cases ON sfdc_oppty.dt = sfdc_cases.dt)) AS sfdc_cases_oppty ON sfdc_cases_oppty.dt = sfdc_accounts.dt       WHERE sfdc_cases_oppty.dt > '2020-04-03'         AND sfdc_cases_oppty.dt < '2020-05-04'       ORDER BY 1       GROUP BY 3       LIMIT 20) e ON e.user_id = a.user_id"

## delevel_query

## level 0 -- level 1 -- level 2 -- level 3 -- level 4 -- level 5

In [366]:
formatter = column_parser.Parser(query)
formatted_query = formatter.format_query(query)
query_list_0 = formatted_query.split('\n')
query_dict = {}
sub_query = delevel(query_list_0)
query_dict = sub_query

for alias, query in sub_query.items():

    formatter = column_parser.Parser(query)
    formatted_query = formatter.format_query(query)
    query_list = formatted_query.split('\n')

    if has_child(formatted_query) and alias != 'main':
        sub_query_dict = delevel(query_list)
        query_dict[alias] = sub_query_dict
        query_dict = clean_dict(query_dict)

        for alias2, query2 in sub_query_dict.items():
            formatter2 = column_parser.Parser(query2)
            formatted_query2 = formatter2.format_query(query2)
            query_list2 = formatted_query2.split('\n')
            
            if has_child(formatted_query2) and alias2 != 'main':
                sub_query_dict2 = delevel(query_list2)
                sub_query_dict[alias2] = sub_query_dict2
                
                
                for alias3, query3 in sub_query_dict2.items():
                    formatter3 = column_parser.Parser(query3)
                    formatted_query3 = formatter3.format_query(query3)
                    query_list3 = formatted_query3.split('\n')
                    
                    if has_child(formatted_query3) and alias3 != 'main':
                        sub_query_dict3 = delevel(query_list3)
                        sub_query_dict2[alias3] = sub_query_dict3
                        
                        for alias4, query4 in sub_query_dict3.items():
                            formatter4 = column_parser.Parser(query4)
                            formatted_query4 = formatter4.format_query(query4)
                            query_list4 = formatted_query4.split('\n')
                            
                            if has_child(formatted_query4) and alias4 != 'main':
                                sub_query_dict4 = delevel(query_list4)
                                sub_query_dict3[alias4] = sub_query_dict4
                            else:
                                pass
                        query_dict[alias][alias2][alias3] = sub_query_dict3
                        query_dict = clean_dict(query_dict)
                    else:
                        pass
                    query_dict[alias][alias2] = sub_query_dict2
                    query_dict = clean_dict(query_dict)
            else:
                pass
            query_dict[alias] = sub_query_dict
            query_dict = clean_dict(query_dict)
    else:
        pass

In [394]:
query_dict

{'no alias': {'a': "SELECT DISTINCT anonymous_id,                    user_id    FROM mapbox_customer_data.segment_identifies    WHERE dt >= '2018-07-01'      AND anonymous_id IS NOT NULL AND user_id IS NOT NULL ",
  'b': "SELECT id,           email,           created    FROM mapbox_customer_data.accounts WHERE cast(dt AS DATE) = CURRENT_DATE - INTERVAL '1' DAY ",
  'c': "SELECT anonymous_id AS anon_id_ad,           context_campaign_name,           min(TIMESTAMP) AS min_exposure    FROM mapbox_customer_data.segment_pages    WHERE dt >= '2018-07-01'      AND context_campaign_name IS NOT NULL    GROUP BY 1, 2",
  'd': "SELECT DISTINCT anonymous_id AS anon_id_event,                    original_timestamp,                    event,                    context_traits_email    FROM mapbox_customer_data.segment_tracks    WHERE dt >= '2018-07-01'      AND event LIKE 'submitted_%form' AND context_traits_email IS NOT NULL ",
  'e': {'sfdc_accounts': 'sfdc.accounts',
   'sfdc_cases_oppty': {'no alias': {'dt_owner': 'SELECT DISTINCT dt FROM sfdc.owner AS sfdc_owner',
     'main': 'SELECT MAX(dt)\nFROM AS dt_owner ON sfdc_oppty.dt = sfdc_cases.dt'},
    'sfdc_cases': 'SELECT dt FROM sfdc.cases',
    'main': 'SELECT MAX(dt)\nSELECT dt\nLEFT JOIN\nLEFT JOIN sfdc_cases ON sfdc_oppty.dt = sfdc_cases.dt'},
   'main': "SELECT sfdc_accounts.platform,\n       sfdc_accounts.mobile_os,\n       sfdc_accounts.service_metadata,\n       sfdc_cases.account,\n       sfdc_cases.num_requests,\n       sfdc_cases.owner,\n       sfdc_accounts.user_id\nLEFT JOIN\nWHERE sfdc_cases_oppty.dt > '2020-04-03'\n  AND sfdc_cases_oppty.dt < '2020-05-04'\nORDER BY 1\nGROUP BY 3\nLIMIT 20 AS sfdc_cases_oppty ON sfdc_cases_oppty.dt = sfdc_accounts.dt"},
  'main': 'SELECT a.*,\n       b.*,\n       c.*,\n       d.*\nFROM\nLEFT JOIN\nLEFT JOIN\nLEFT JOIN\nLEFT JOIN b ON a.user_id = b.id\nc ON a.anonymous_id = c.anon_id_ad\nd ON a.anonymous_id = d.anon_id_event\ne ON e.user_id = a.user_id'},
 'main': 'SELECT *\nFROM\nWHERE context_campaign_name IS NOT NULL '}

In [367]:
print(alias, '\n', json.dumps(query_dict, indent=2), '\n\n\n')

main
 {
  "no alias": {
    "a": "SELECT DISTINCT anonymous_id,                    user_id    FROM mapbox_customer_data.segment_identifies    WHERE dt >= '2018-07-01'      AND anonymous_id IS NOT NULL AND user_id IS NOT NULL ",
    "b": "SELECT id,           email,           created    FROM mapbox_customer_data.accounts WHERE cast(dt AS DATE) = CURRENT_DATE - INTERVAL '1' DAY ",
    "c": "SELECT anonymous_id AS anon_id_ad,           context_campaign_name,           min(TIMESTAMP) AS min_exposure    FROM mapbox_customer_data.segment_pages    WHERE dt >= '2018-07-01'      AND context_campaign_name IS NOT NULL    GROUP BY 1, 2",
    "d": "SELECT DISTINCT anonymous_id AS anon_id_event,                    original_timestamp,                    event,                    context_traits_email    FROM mapbox_customer_data.segment_tracks    WHERE dt >= '2018-07-01'      AND event LIKE 'submitted_%form' AND context_traits_email IS NOT NULL ",
    "e": {
      "sfdc_accounts": "sfdc.accounts",
      "sfdc_cases_oppty": {
        "no alias": {
          "dt_owner": "SELECT DISTINCT dt FROM sfdc.owner AS sfdc_owner",
          "main": "SELECT MAX(dt)\nFROM AS dt_owner ON sfdc_oppty.dt = sfdc_cases.dt"
        },
        "sfdc_cases": "SELECT dt FROM sfdc.cases",
        "main": "SELECT MAX(dt)\nSELECT dt\nLEFT JOIN\nLEFT JOIN sfdc_cases ON sfdc_oppty.dt = sfdc_cases.dt"
      },
      "main": "SELECT sfdc_accounts.platform,\n       sfdc_accounts.mobile_os,\n       sfdc_accounts.service_metadata,\n       sfdc_cases.account,\n       sfdc_cases.num_requests,\n       sfdc_cases.owner,\n       sfdc_accounts.user_id\nLEFT JOIN\nWHERE sfdc_cases_oppty.dt > '2020-04-03'\n  AND sfdc_cases_oppty.dt < '2020-05-04'\nORDER BY 1\nGROUP BY 3\nLIMIT 20 AS sfdc_cases_oppty ON sfdc_cases_oppty.dt = sfdc_accounts.dt"
    },
    "main": "SELECT a.*,\n       b.*,\n       c.*,\n       d.*\nFROM\nLEFT JOIN\nLEFT JOIN\nLEFT JOIN\nLEFT JOIN b ON a.user_id = b.id\nc ON a.anonymous_id = c.anon_id_ad\nd ON a.anonymous_id = d.anon_id_event\ne ON e.user_id = a.user_id"
  },
  "main": "SELECT *\nFROM\nWHERE context_campaign_name IS NOT NULL "
}

In [369]:
query_dict.keys()

dict_keys(['no alias', 'main'])

In [371]:
query_dict['main']

'SELECT *\nFROM\nWHERE context_campaign_name IS NOT NULL '

In [372]:
query_dict['no alias'].keys()

dict_keys(['a', 'b', 'c', 'd', 'e', 'main'])

In [392]:
query_dict['no alias']['main']

'SELECT a.*,\n       b.*,\n       c.*,\n       d.*\nFROM\nLEFT JOIN\nLEFT JOIN\nLEFT JOIN\nLEFT JOIN b ON a.user_id = b.id\nc ON a.anonymous_id = c.anon_id_ad\nd ON a.anonymous_id = d.anon_id_event\ne ON e.user_id = a.user_id'

In [373]:
query_dict['no alias']['a']

"SELECT DISTINCT anonymous_id,                    user_id    FROM mapbox_customer_data.segment_identifies    WHERE dt >= '2018-07-01'      AND anonymous_id IS NOT NULL AND user_id IS NOT NULL "

In [374]:
query_dict['no alias']['b']

"SELECT id,           email,           created    FROM mapbox_customer_data.accounts WHERE cast(dt AS DATE) = CURRENT_DATE - INTERVAL '1' DAY "

In [375]:
query_dict['no alias']['c']

"SELECT anonymous_id AS anon_id_ad,           context_campaign_name,           min(TIMESTAMP) AS min_exposure    FROM mapbox_customer_data.segment_pages    WHERE dt >= '2018-07-01'      AND context_campaign_name IS NOT NULL    GROUP BY 1, 2"

In [376]:
query_dict['no alias']['d']

"SELECT DISTINCT anonymous_id AS anon_id_event,                    original_timestamp,                    event,                    context_traits_email    FROM mapbox_customer_data.segment_tracks    WHERE dt >= '2018-07-01'      AND event LIKE 'submitted_%form' AND context_traits_email IS NOT NULL "

In [378]:
query_dict['no alias']['e']

{'sfdc_accounts': 'sfdc.accounts',
 'sfdc_cases_oppty': {'no alias': {'dt_owner': 'SELECT DISTINCT dt FROM sfdc.owner AS sfdc_owner',
   'main': 'SELECT MAX(dt)\nFROM AS dt_owner ON sfdc_oppty.dt = sfdc_cases.dt'},
  'sfdc_cases': 'SELECT dt FROM sfdc.cases',
  'main': 'SELECT MAX(dt)\nSELECT dt\nLEFT JOIN\nLEFT JOIN sfdc_cases ON sfdc_oppty.dt = sfdc_cases.dt'},
 'main': "SELECT sfdc_accounts.platform,\n       sfdc_accounts.mobile_os,\n       sfdc_accounts.service_metadata,\n       sfdc_cases.account,\n       sfdc_cases.num_requests,\n       sfdc_cases.owner,\n       sfdc_accounts.user_id\nLEFT JOIN\nWHERE sfdc_cases_oppty.dt > '2020-04-03'\n  AND sfdc_cases_oppty.dt < '2020-05-04'\nORDER BY 1\nGROUP BY 3\nLIMIT 20 AS sfdc_cases_oppty ON sfdc_cases_oppty.dt = sfdc_accounts.dt"}

In [380]:
query_dict['no alias']['e']['main']

"SELECT sfdc_accounts.platform,\n       sfdc_accounts.mobile_os,\n       sfdc_accounts.service_metadata,\n       sfdc_cases.account,\n       sfdc_cases.num_requests,\n       sfdc_cases.owner,\n       sfdc_accounts.user_id\nLEFT JOIN\nWHERE sfdc_cases_oppty.dt > '2020-04-03'\n  AND sfdc_cases_oppty.dt < '2020-05-04'\nORDER BY 1\nGROUP BY 3\nLIMIT 20 AS sfdc_cases_oppty ON sfdc_cases_oppty.dt = sfdc_accounts.dt"

In [381]:
query_dict['no alias']['e']['sfdc_accounts']

'sfdc.accounts'

In [382]:
query_dict['no alias']['e']['sfdc_cases_oppty']

{'no alias': {'dt_owner': 'SELECT DISTINCT dt FROM sfdc.owner AS sfdc_owner',
  'main': 'SELECT MAX(dt)\nFROM AS dt_owner ON sfdc_oppty.dt = sfdc_cases.dt'},
 'sfdc_cases': 'SELECT dt FROM sfdc.cases',
 'main': 'SELECT MAX(dt)\nSELECT dt\nLEFT JOIN\nLEFT JOIN sfdc_cases ON sfdc_oppty.dt = sfdc_cases.dt'}

In [384]:
query_dict['no alias']['e']['sfdc_cases_oppty']['main']

'SELECT MAX(dt)\nSELECT dt\nLEFT JOIN\nLEFT JOIN sfdc_cases ON sfdc_oppty.dt = sfdc_cases.dt'

In [385]:
query_dict['no alias']['e']['sfdc_cases_oppty']['no alias']

{'dt_owner': 'SELECT DISTINCT dt FROM sfdc.owner AS sfdc_owner',
 'main': 'SELECT MAX(dt)\nFROM AS dt_owner ON sfdc_oppty.dt = sfdc_cases.dt'}

In [386]:
query_dict['no alias']['e']['sfdc_cases_oppty']['sfdc_cases']

'SELECT dt FROM sfdc.cases'

In [389]:
query_dict['no alias']['e']['sfdc_cases_oppty']['no alias']['dt_owner']

'SELECT DISTINCT dt FROM sfdc.owner AS sfdc_owner'

In [391]:
query_dict['no alias']['e']['sfdc_cases_oppty']['no alias']['main']

'SELECT MAX(dt)\nFROM AS dt_owner ON sfdc_oppty.dt = sfdc_cases.dt'