In [56]:
import json
import pandas as pd
from sqlanalyzer import column_parser

In [57]:
with open('./sqlanalyzer/data.json', 'r') as f:
    query_dict = json.load(f)

In [58]:
print(json.dumps(query_dict, indent=2), '\n\n\n')

{
  "no alias": {
    "a": "SELECT DISTINCT anonymous_id,                    user_id    FROM mapbox_customer_data.segment_identifies    WHERE dt >= '2018-07-01'      AND anonymous_id IS NOT NULL AND user_id IS NOT NULL ",
    "b": "SELECT id,           email,           created    FROM mapbox_customer_data.accounts WHERE cast(dt AS DATE) = CURRENT_DATE - INTERVAL '1' DAY ",
    "c": "SELECT anonymous_id AS anon_id_ad,           context_campaign_name,           min(TIMESTAMP) AS min_exposure    FROM mapbox_customer_data.segment_pages    WHERE dt >= '2018-07-01'      AND context_campaign_name IS NOT NULL    GROUP BY 1, 2",
    "d": "SELECT DISTINCT anonymous_id AS anon_id_event,                    original_timestamp,                    event,                    context_traits_email    FROM mapbox_customer_data.segment_tracks    WHERE dt >= '2018-07-01'      AND event LIKE 'submitted_%form' AND context_traits_email IS NOT NULL ",
    "e": {
      "sfdc_accounts": "sfdc.accounts",
      "sfdc_cases_oppty": {
        "no alias": {
          "dt_owner": "SELECT DISTINCT dt FROM sfdc.owner AS sfdc_owner",
          "main": "SELECT MAX(dt)\nFROM AS dt_owner ON sfdc_oppty.dt = sfdc_cases.dt"
        },
        "sfdc_cases": "SELECT dt FROM sfdc.cases",
        "main": "SELECT MAX(dt)\nFROM (\nSELECT dt\nFROM sfdc.oppty\nLEFT JOIN\nLEFT JOIN sfdc_cases ON sfdc_oppty.dt = sfdc_cases.dt"
      },
      "main": "SELECT sfdc_accounts.platform,\n       sfdc_accounts.mobile_os,\n       sfdc_accounts.service_metadata,\n       sfdc_cases.account,\n       sfdc_cases.num_requests,\n       sfdc_cases.owner,\n       sfdc_accounts.user_id\nFROM sfdc.accounts sfdc_accounts\nLEFT JOIN\nWHERE sfdc_cases_oppty.dt > '2020-04-03'\n  AND sfdc_cases_oppty.dt < '2020-05-04'\nORDER BY 1\nGROUP BY 3\nLIMIT 20 AS sfdc_cases_oppty ON sfdc_cases_oppty.dt = sfdc_accounts.dt"
    },
    "main": "SELECT a.*,\n       b.*,\n       c.*,\n       d.*\nFROM\nLEFT JOIN\nLEFT JOIN\nLEFT JOIN\nLEFT JOIN b ON a.user_id = b.id\nc ON a.anonymous_id = c.anon_id_ad\nd ON a.anonymous_id = d.anon_id_event\ne ON e.user_id = a.user_id"
  },
  "main": "SELECT *\nFROM\nWHERE context_campaign_name IS NOT NULL "
}

## looking at each subquery

In [59]:
query = query_dict['no alias']['a']

In [60]:
db_fields_1 = pd.DataFrame({'db_table': 'mapbox_customer_data.segment_identifies', 
            'all_columns': ['anonymous_id', 'user_id', 'service', 'service_metadata', 'service_metadata_version', 'account', 'num_requests', 'dt']})
db_fields_1

                                  db_table               all_columns
0  mapbox_customer_data.segment_identifies              anonymous_id
1  mapbox_customer_data.segment_identifies                   user_id
2  mapbox_customer_data.segment_identifies                   service
3  mapbox_customer_data.segment_identifies          service_metadata
4  mapbox_customer_data.segment_identifies  service_metadata_version
5  mapbox_customer_data.segment_identifies                   account
6  mapbox_customer_data.segment_identifies              num_requests
7  mapbox_customer_data.segment_identifies                        dt

In [61]:
db_fields_2 = pd.DataFrame({'db_table': 'mapbox_customer_data.accounts', 
            'all_columns': ['id', 'user_id', 'email', 'created', 'service_metadata_version', 'account', 'num_requests', 'dt']})
db_fields_2

                        db_table               all_columns
0  mapbox_customer_data.accounts                        id
1  mapbox_customer_data.accounts                   user_id
2  mapbox_customer_data.accounts                     email
3  mapbox_customer_data.accounts                   created
4  mapbox_customer_data.accounts  service_metadata_version
5  mapbox_customer_data.accounts                   account
6  mapbox_customer_data.accounts              num_requests
7  mapbox_customer_data.accounts                        dt

In [62]:
db_fields_3 = pd.DataFrame({'db_table': 'mapbox_customer_data.segment_pages', 
            'all_columns': ['anonymous_id', 'context_campaign_name', 'service', 'service_metadata', 'service_metadata_version', 'account', 'num_requests', 'dt']})
db_fields_3

                             db_table               all_columns
0  mapbox_customer_data.segment_pages              anonymous_id
1  mapbox_customer_data.segment_pages     context_campaign_name
2  mapbox_customer_data.segment_pages                   service
3  mapbox_customer_data.segment_pages          service_metadata
4  mapbox_customer_data.segment_pages  service_metadata_version
5  mapbox_customer_data.segment_pages                   account
6  mapbox_customer_data.segment_pages              num_requests
7  mapbox_customer_data.segment_pages                        dt

In [63]:
db_fields_4 = pd.DataFrame({'db_table': 'mapbox_customer_data.segment_tracks', 
            'all_columns': ['anonymous_id', 'original_timestamp', 'event', 'context_traits_email', 'service_metadata_version', 'account', 'num_requests', 'dt']})
db_fields_4

                              db_table               all_columns
0  mapbox_customer_data.segment_tracks              anonymous_id
1  mapbox_customer_data.segment_tracks        original_timestamp
2  mapbox_customer_data.segment_tracks                     event
3  mapbox_customer_data.segment_tracks      context_traits_email
4  mapbox_customer_data.segment_tracks  service_metadata_version
5  mapbox_customer_data.segment_tracks                   account
6  mapbox_customer_data.segment_tracks              num_requests
7  mapbox_customer_data.segment_tracks                        dt

In [64]:
db_fields_5 = pd.DataFrame({'db_table': 'sfdc.cases', 
            'all_columns': ['anonymous_id', 'original_timestamp', 'event', 'context_traits_email', 'service_metadata_version', 'account', 'num_requests', 'dt']})
db_fields_5

     db_table               all_columns
0  sfdc.cases              anonymous_id
1  sfdc.cases        original_timestamp
2  sfdc.cases                     event
3  sfdc.cases      context_traits_email
4  sfdc.cases  service_metadata_version
5  sfdc.cases                   account
6  sfdc.cases              num_requests
7  sfdc.cases                        dt

In [65]:
db_fields_6 = pd.DataFrame({'db_table': 'sfdc.owner',
                           'all_columns': ['dt', 'first_name', 'last_name']})
db_fields_6

     db_table all_columns
0  sfdc.owner          dt
1  sfdc.owner  first_name
2  sfdc.owner   last_name

In [66]:
db_fields_7 = pd.DataFrame({'db_table': 'sfdc.accounts',
                           'all_columns': ['platform', 'mobile_os', 'service_metadata', 'user_id', 'first_name', 'last_name']})
db_fields_7

        db_table       all_columns
0  sfdc.accounts          platform
1  sfdc.accounts         mobile_os
2  sfdc.accounts  service_metadata
3  sfdc.accounts           user_id
4  sfdc.accounts        first_name
5  sfdc.accounts         last_name

In [67]:
df = db_fields_1.append(db_fields_2, ignore_index=True)
df = df.append(db_fields_3, ignore_index=True)
df = df.append(db_fields_4, ignore_index=True)

In [68]:
df = df.append(db_fields_5, ignore_index=True)

In [69]:
df = df.append(db_fields_6, ignore_index=True)

In [70]:
df = df.append(db_fields_7, ignore_index=True)

In [71]:
df

                                   db_table               all_columns
0   mapbox_customer_data.segment_identifies              anonymous_id
1   mapbox_customer_data.segment_identifies                   user_id
2   mapbox_customer_data.segment_identifies                   service
3   mapbox_customer_data.segment_identifies          service_metadata
4   mapbox_customer_data.segment_identifies  service_metadata_version
5   mapbox_customer_data.segment_identifies                   account
6   mapbox_customer_data.segment_identifies              num_requests
7   mapbox_customer_data.segment_identifies                        dt
8             mapbox_customer_data.accounts                        id
9             mapbox_customer_data.accounts                   user_id
10            mapbox_customer_data.accounts                     email
11            mapbox_customer_data.accounts                   created
12            mapbox_customer_data.accounts  service_metadata_version
13            mapbox_customer_data.accounts                   account
14            mapbox_customer_data.accounts              num_requests
15            mapbox_customer_data.accounts                        dt
16       mapbox_customer_data.segment_pages              anonymous_id
17       mapbox_customer_data.segment_pages     context_campaign_name
18       mapbox_customer_data.segment_pages                   service
19       mapbox_customer_data.segment_pages          service_metadata
20       mapbox_customer_data.segment_pages  service_metadata_version
21       mapbox_customer_data.segment_pages                   account
22       mapbox_customer_data.segment_pages              num_requests
23       mapbox_customer_data.segment_pages                        dt
24      mapbox_customer_data.segment_tracks              anonymous_id
25      mapbox_customer_data.segment_tracks        original_timestamp
26      mapbox_customer_data.segment_tracks                     event
27      mapbox_customer_data.segment_tracks      context_traits_email
28      mapbox_customer_data.segment_tracks  service_metadata_version
29      mapbox_customer_data.segment_tracks                   account
30      mapbox_customer_data.segment_tracks              num_requests
31      mapbox_customer_data.segment_tracks                        dt
32                               sfdc.cases              anonymous_id
33                               sfdc.cases        original_timestamp
34                               sfdc.cases                     event
35                               sfdc.cases      context_traits_email
36                               sfdc.cases  service_metadata_version
37                               sfdc.cases                   account
38                               sfdc.cases              num_requests
39                               sfdc.cases                        dt
40                               sfdc.owner                        dt
41                               sfdc.owner                first_name
42                               sfdc.owner                 last_name
43                            sfdc.accounts                  platform
44                            sfdc.accounts                 mobile_os
45                            sfdc.accounts          service_metadata
46                            sfdc.accounts                   user_id
47                            sfdc.accounts                first_name
48                            sfdc.accounts                 last_name

In [72]:
def extract_subquery_fields(query, db_fields):
    formatter = column_parser.Parser(query)
    formatted = formatter.format_query(query)
    table_alias_mapping = formatter.get_table_names(formatted.split('\n'))
    fields = formatter.match_queried_fields(query, db_fields)
    return fields

In [73]:
new_dict = {}
new_dict['no alias'] = query_dict['no alias']
for k,v in query_dict['no alias'].items():
    if k in ('a', 'b', 'c', 'd'):
        new_dict['no alias'][k] = extract_subquery_fields(query_dict['no alias'][k], df)

In [74]:
new_dict

{'no alias': {'a': [{'database_name': 'mapbox_customer_data',
    'table_name': 'segment_identifies',
    'column_name': 'anonymous_id'},
   {'database_name': 'mapbox_customer_data',
    'table_name': 'segment_identifies',
    'column_name': 'dt'},
   {'database_name': 'mapbox_customer_data',
    'table_name': 'segment_identifies',
    'column_name': 'user_id'}],
  'b': [{'database_name': 'mapbox_customer_data',
    'table_name': 'accounts',
    'column_name': 'dt'},
   {'database_name': 'mapbox_customer_data',
    'table_name': 'accounts',
    'column_name': 'created'},
   {'database_name': 'mapbox_customer_data',
    'table_name': 'accounts',
    'column_name': 'id'},
   {'database_name': 'mapbox_customer_data',
    'table_name': 'accounts',
    'column_name': 'email'}],
  'c': [{'database_name': 'mapbox_customer_data',
    'table_name': 'segment_pages',
    'column_name': 'context_campaign_name'},
   {'database_name': 'mapbox_customer_data',
    'table_name': 'segment_pages',
    'column_name': 'anonymous_id'},
   {'database_name': 'mapbox_customer_data',
    'table_name': 'segment_pages',
    'column_name': 'dt'}],
  'd': [{'database_name': 'mapbox_customer_data',
    'table_name': 'segment_tracks',
    'column_name': 'dt'},
   {'database_name': 'mapbox_customer_data',
    'table_name': 'segment_tracks',
    'column_name': 'original_timestamp'},
   {'database_name': 'mapbox_customer_data',
    'table_name': 'segment_tracks',
    'column_name': 'event'},
   {'database_name': 'mapbox_customer_data',
    'table_name': 'segment_tracks',
    'column_name': 'context_traits_email'},
   {'database_name': 'mapbox_customer_data',
    'table_name': 'segment_tracks',
    'column_name': 'anonymous_id'}],
  'e': {'sfdc_accounts': 'sfdc.accounts',
   'sfdc_cases_oppty': {'no alias': {'dt_owner': 'SELECT DISTINCT dt FROM sfdc.owner AS sfdc_owner',
     'main': 'SELECT MAX(dt)\nFROM AS dt_owner ON sfdc_oppty.dt = sfdc_cases.dt'},
    'sfdc_cases': 'SELECT dt FROM sfdc.cases',
    'main': 'SELECT MAX(dt)\nFROM (\nSELECT dt\nFROM sfdc.oppty\nLEFT JOIN\nLEFT JOIN sfdc_cases ON sfdc_oppty.dt = sfdc_cases.dt'},
   'main': "SELECT sfdc_accounts.platform,\n       sfdc_accounts.mobile_os,\n       sfdc_accounts.service_metadata,\n       sfdc_cases.account,\n       sfdc_cases.num_requests,\n       sfdc_cases.owner,\n       sfdc_accounts.user_id\nFROM sfdc.accounts sfdc_accounts\nLEFT JOIN\nWHERE sfdc_cases_oppty.dt > '2020-04-03'\n  AND sfdc_cases_oppty.dt < '2020-05-04'\nORDER BY 1\nGROUP BY 3\nLIMIT 20 AS sfdc_cases_oppty ON sfdc_cases_oppty.dt = sfdc_accounts.dt"},
  'main': 'SELECT a.*,\n       b.*,\n       c.*,\n       d.*\nFROM\nLEFT JOIN\nLEFT JOIN\nLEFT JOIN\nLEFT JOIN b ON a.user_id = b.id\nc ON a.anonymous_id = c.anon_id_ad\nd ON a.anonymous_id = d.anon_id_event\ne ON e.user_id = a.user_id'}}

In [75]:
query_dict['no alias']['e'].keys()

dict_keys(['sfdc_accounts', 'sfdc_cases_oppty', 'main'])

In [76]:
query = query_dict['no alias']['e']['main']
formatter = column_parser.Parser(query)
formatted = formatter.format_query(query)
formatted

"SELECT sfdc_accounts.platform,\n       sfdc_accounts.mobile_os,\n       sfdc_accounts.service_metadata,\n       sfdc_cases.account,\n       sfdc_cases.num_requests,\n       sfdc_cases.owner,\n       sfdc_accounts.user_id\nFROM sfdc.accounts sfdc_accounts\nLEFT JOIN\nWHERE sfdc_cases_oppty.dt > '2020-04-03'\n  AND sfdc_cases_oppty.dt < '2020-05-04'\nORDER BY 1\nGROUP BY 3\nLIMIT 20 AS sfdc_cases_oppty ON sfdc_cases_oppty.dt = sfdc_accounts.dt"

In [77]:
table_alias_mapping = formatter.get_table_names(formatted.split('\n'))
fields = formatter.match_queried_fields(query, df)

In [78]:
fields

[{'database_name': 'sfdc',
  'table_name': 'accounts',
  'column_name': 'platform'},
 {'database_name': 'sfdc',
  'table_name': 'accounts',
  'column_name': 'service_metadata'},
 {'database_name': 'sfdc', 'table_name': 'accounts', 'column_name': 'user_id'},
 {'database_name': 'sfdc',
  'table_name': 'accounts',
  'column_name': 'mobile_os'}]

In [79]:
query_dict['no alias']['e']['sfdc_cases_oppty']['no alias'].keys()

dict_keys(['dt_owner', 'main'])

In [80]:
query = query_dict['no alias']['e']['sfdc_cases_oppty']['no alias']['dt_owner']
formatter = column_parser.Parser(query)
formatted = formatter.format_query(query)
formatted

'SELECT DISTINCT dt\nFROM sfdc.owner AS sfdc_owner'

In [81]:
table_alias_mapping = formatter.get_table_names(formatted.split('\n'))
fields = formatter.match_queried_fields(query, df)
fields

[{'database_name': 'sfdc', 'table_name': 'owner', 'column_name': 'dt'}]