In [1]:
query_list = [{'level_1_main': 'SELECT * FROM T '},
 {'T': 'SELECT * FROM custom_sql_query '},
 {'custom_sql_query': [{'reg_users': [{'level_1_main': 'SELECT * WHERE context_campaign_name IS NOT NULL FROM no alias '},
     {'level_2_main': 'SELECT a.*,        b.*,        c.*,        d.* FROM a LEFT JOIN b ON a.user_id = b.id LEFT JOIN c ON a.anonymous_id = c.anon_id_ad LEFT JOIN d ON a.anonymous_id = d.anon_id_event '},
     {'a': "SELECT DISTINCT anonymous_id, user_id FROM mapbox_customer_data.segment_identifies WHERE dt >= '2018-07-01' AND anonymous_id IS NOT NULL AND user_id IS NOT NULL "},
     {'c': "SELECT anonymous_id AS anon_id_ad, context_campaign_name, min(TIMESTAMP) AS min_exposure FROM mapbox_customer_data.segment_pages WHERE dt >= '2018-07-01' AND context_campaign_name IS NOT NULL GROUP BY 1, 2"},
     {'b': "SELECT id, email, created FROM mapbox_customer_data.accounts WHERE cast(dt AS DATE) = CURRENT_DATE - INTERVAL '1' DAY "},
     {'d': "SELECT DISTINCT anonymous_id AS anon_id_event, original_timestamp, event, context_traits_email FROM mapbox_customer_data.segment_tracks WHERE dt >= '2018-07-01' AND event LIKE 'submitted_%form' AND context_traits_email IS NOT NULL "}]},
   {'non_reg_users': [{'level_1_main': "SELECT context_campaign_name,        min_exposure,        event,        original_timestamp AS event_timestamp,        context_traits_email AS event_email WHERE anon_id_event IS NOT NULL   AND to_unixtime(min_exposure) <= to_unixtime(original_timestamp)   AND cast(min_exposure AS DATE) >= cast(original_timestamp AS DATE) - INTERVAL '28' DAY FROM no alias "},
     {'level_2_main': 'SELECT a.*,        b.* FROM a LEFT JOIN b ON a.anon_id_ad = b.anon_id_event '},
     {'b': "SELECT DISTINCT anonymous_id AS anon_id_event, original_timestamp, event, context_traits_email FROM mapbox_customer_data.segment_tracks WHERE dt >= '2018-07-01' AND event LIKE 'submitted_%form' AND context_traits_email IS NOT NULL "},
     {'a': 'SELECT anonymous_id AS anon_id_ad,        context_campaign_name,        min(original_timestamp) AS min_exposure FROM no alias '},
     {'no alias': "SELECT context_campaign_name, anonymous_id, original_timestamp FROM mapbox_customer_data.segment_pages WHERE dt >= '2018-07-01' AND context_campaign_name IS NOT NULL "}]},
   {'mql_flag': [{'level_1_main': 'SELECT email,        created_date,        last_mql_date_c,        mql_flag WHERE mql_flag = 1   AND is_deleted = 0 FROM no alias '},
     {'no alias': "SELECT email, min(created_date) created_date, max(last_mql_date_c) last_mql_date_c, CASE WHEN max(last_mql_date_c) IS NOT NULL THEN 1 ELSE 0 END AS mql_flag, sum(CASE WHEN is_deleted = TRUE THEN 1 ELSE 0 END) AS is_deleted FROM sales.salesforce_leads WHERE cast(dt AS DATE) = CURRENT_DATE - INTERVAL '1' DAY GROUP BY 1"}]},
   {'cleaned_list': [{'level_1_main': 'SELECT DISTINCT * FROM no alias '},
     {'no alias': "SELECT context_campaign_name, min_exposure, 'created_an_account' AS event, created AS event_timestamp, email AS event_email FROM reg_users WHERE to_unixtime(min_exposure) <= to_unixtime(created) AND cast(min_exposure AS DATE) >= cast(created AS DATE) - INTERVAL '28' DAY UNION ALL SELECT context_campaign_name, min_exposure, event, original_timestamp AS event_timestamp, context_traits_email AS event_email FROM reg_users WHERE to_unixtime(min_exposure) <= to_unixtime(original_timestamp) AND cast(min_exposure AS DATE) >= cast(original_timestamp AS DATE) - INTERVAL '28' DAY UNION ALL SELECT * FROM non_reg_users"}]},
   {'main_query': 'SELECT a.*,\n       b.*\nFROM cleaned_list a\nLEFT JOIN mql_flag b ON a.event_email = b.email'}]}]

In [11]:
query_list

[{'level_1_main': 'SELECT * FROM T '},
 {'T': 'SELECT * FROM custom_sql_query '},
 {'custom_sql_query': [{'reg_users': [{'level_1_main': 'SELECT * WHERE context_campaign_name IS NOT NULL FROM no alias '},
     {'level_2_main': 'SELECT a.*,        b.*,        c.*,        d.* FROM a LEFT JOIN b ON a.user_id = b.id LEFT JOIN c ON a.anonymous_id = c.anon_id_ad LEFT JOIN d ON a.anonymous_id = d.anon_id_event '},
     {'a': "SELECT DISTINCT anonymous_id, user_id FROM mapbox_customer_data.segment_identifies WHERE dt >= '2018-07-01' AND anonymous_id IS NOT NULL AND user_id IS NOT NULL "},
     {'c': "SELECT anonymous_id AS anon_id_ad, context_campaign_name, min(TIMESTAMP) AS min_exposure FROM mapbox_customer_data.segment_pages WHERE dt >= '2018-07-01' AND context_campaign_name IS NOT NULL GROUP BY 1, 2"},
     {'b': "SELECT id, email, created FROM mapbox_customer_data.accounts WHERE cast(dt AS DATE) = CURRENT_DATE - INTERVAL '1' DAY "},
     {'d': "SELECT DISTINCT anonymous_id AS anon_id_event, original_timestamp, event, context_traits_email FROM mapbox_customer_data.segment_tracks WHERE dt >= '2018-07-01' AND event LIKE 'submitted_%form' AND context_traits_email IS NOT NULL "}]},
   {'non_reg_users': [{'level_1_main': "SELECT context_campaign_name,        min_exposure,        event,        original_timestamp AS event_timestamp,        context_traits_email AS event_email WHERE anon_id_event IS NOT NULL   AND to_unixtime(min_exposure) <= to_unixtime(original_timestamp)   AND cast(min_exposure AS DATE) >= cast(original_timestamp AS DATE) - INTERVAL '28' DAY FROM no alias "},
     {'level_2_main': 'SELECT a.*,        b.* FROM a LEFT JOIN b ON a.anon_id_ad = b.anon_id_event '},
     {'b': "SELECT DISTINCT anonymous_id AS anon_id_event, original_timestamp, event, context_traits_email FROM mapbox_customer_data.segment_tracks WHERE dt >= '2018-07-01' AND event LIKE 'submitted_%form' AND context_traits_email IS NOT NULL "},
     {'a': 'SELECT anonymous_id AS anon_id_ad,        context_campaign_name,        min(original_timestamp) AS min_exposure FROM no alias '},
     {'no alias': "SELECT context_campaign_name, anonymous_id, original_timestamp FROM mapbox_customer_data.segment_pages WHERE dt >= '2018-07-01' AND context_campaign_name IS NOT NULL "}]},
   {'mql_flag': [{'level_1_main': 'SELECT email,        created_date,        last_mql_date_c,        mql_flag WHERE mql_flag = 1   AND is_deleted = 0 FROM no alias '},
     {'no alias': "SELECT email, min(created_date) created_date, max(last_mql_date_c) last_mql_date_c, CASE WHEN max(last_mql_date_c) IS NOT NULL THEN 1 ELSE 0 END AS mql_flag, sum(CASE WHEN is_deleted = TRUE THEN 1 ELSE 0 END) AS is_deleted FROM sales.salesforce_leads WHERE cast(dt AS DATE) = CURRENT_DATE - INTERVAL '1' DAY GROUP BY 1"}]},
   {'cleaned_list': [{'level_1_main': 'SELECT DISTINCT * FROM no alias '},
     {'no alias': "SELECT context_campaign_name, min_exposure, 'created_an_account' AS event, created AS event_timestamp, email AS event_email FROM reg_users WHERE to_unixtime(min_exposure) <= to_unixtime(created) AND cast(min_exposure AS DATE) >= cast(created AS DATE) - INTERVAL '28' DAY UNION ALL SELECT context_campaign_name, min_exposure, event, original_timestamp AS event_timestamp, context_traits_email AS event_email FROM reg_users WHERE to_unixtime(min_exposure) <= to_unixtime(original_timestamp) AND cast(min_exposure AS DATE) >= cast(original_timestamp AS DATE) - INTERVAL '28' DAY UNION ALL SELECT * FROM non_reg_users"}]},
   {'main_query': 'SELECT a.*,\n       b.*\nFROM cleaned_list a\nLEFT JOIN mql_flag b ON a.event_email = b.email'}]}]

In [12]:
query_list = [{'opportunity_product_rev': "SELECT opportunity_id,\n          op.product_2_id,\n          p.name AS product_name,\n          COALESCE(CAST(quantity AS DOUBLE) * CAST(list_price AS DOUBLE), 0) AS total_price,\n          netsuite_conn_netsuite_item_key_id_c AS netsuite_conn_net_suite_item_key_id_c,\n          COUNT(netsuite_conn_netsuite_item_key_id_c) OVER (PARTITION BY opportunity_id) AS num_netsuite_items\n   FROM sfdc.opportunity_product op\n   LEFT JOIN sfdc.products p ON op.product_2_id = p.id\n   AND p.dt = '{run_date}'\n   WHERE op.dt = '{run_date}'\n     AND opportunity_id IS NOT NULL\n     AND product_name_c IS NOT NULL\n     AND op.is_deleted = FALSE "},
 {'product_mapping': [{'level_1_main': "SELECT opportunity_id,        op.product_name,        COALESCE(mapped_product, 'unmapped') AS mapped_product,        CASE            WHEN op.opportunity_id = '0063600000B1icTAAR'                 AND op.product_2_id = '01t36000001SzdWAAS' THEN 0.0            WHEN op.opportunity_id = '00636000004JKS0AAO'                 AND op.product_2_id = '01t36000000iDrwAAE' THEN 42.0            WHEN op.opportunity_id = '00636000004JKS0AAO'                 AND op.product_2_id = '01t36000001SzdWAAS' THEN 58.0            WHEN op.opportunity_id = '00636000006IgpvAAC'                 AND op.product_2_id = '01t36000000iDrwAAE' THEN 9.0            WHEN op.opportunity_id = '00636000006IgpvAAC'                 AND op.product_2_id = '01t36000001SzdWAAS' THEN 91.0            WHEN op.opportunity_id = '00636000008xsoWAAQ'                 AND op.product_2_id = '01t360000007IMZAA2' THEN 3.0            WHEN op.opportunity_id = '00636000008xsoWAAQ'                 AND op.product_2_id = '01t36000000iDrwAAE' THEN 79.5            WHEN op.opportunity_id = '00636000008xsoWAAQ'                 AND op.product_2_id = '01t36000001SzdWAAS' THEN 17.5            WHEN op.opportunity_id = '00636000008xsoWAAQ'                 AND op.product_2_id = '01t36000003Mn0JAAS' THEN 0.0            WHEN op.opportunity_id = '0063600000IH8B9AAL'                 AND op.product_2_id = '01t360000005tjBAAQ' THEN 0.2            WHEN op.opportunity_id = '0063600000IH8B9AAL'                 AND op.product_2_id = '01t360000007IMZAA2' THEN 9.6            WHEN op.opportunity_id = '0063600000IH8B9AAL'                 AND op.product_2_id = '01t36000001SzdWAAS' THEN 61.4            WHEN op.opportunity_id = '0063600000IH8B9AAL'                 AND op.product_2_id = '01t36000004WEfoAAG' THEN 28.3            WHEN op.opportunity_id = '0063600000IH8B9AAL'                 AND op.product_2_id = '01t36000004OtprAAC' THEN 0.5            WHEN op.opportunity_id = '0061R00000ogYPlQAM'                 AND op.product_2_id = '01t36000005vWnJAAU' THEN 13.33            WHEN op.opportunity_id = '0061R00000ogYPlQAM'                 AND op.product_2_id = '01t36000005vg85AAA' THEN 66.67            WHEN op.opportunity_id = '0061R00000ogYPlQAM'                 AND op.product_2_id = '01t36000005vX1wAAE' THEN 20.0            ELSE total_price        END AS list_price_value WHERE total_price > 0   AND (netsuite_conn_net_suite_item_key_id_c IS NOT NULL        OR num_netsuite_items = 0) FROM opportunity_product_rev op LEFT JOIN sm ON op.product_name = sm.product_name "},
   {'sm': "SELECT name AS product_name, COALESCE(MAX(service_organization_c), 'unmapped') AS mapped_product, COALESCE(MAX(service_organization_c), 'unmapped') AS mid_product, COALESCE(MAX(sku_id_c), 'unknown') AS endpoint FROM sfdc.products WHERE dt = '{run_date}' GROUP BY name"}]},
 {'pricing_by_method': 'SELECT opportunity_id,\n          mapped_product,\n          product_name,\n          SUM(list_price_value) AS list_price_value\n   FROM product_mapping\n   GROUP BY opportunity_id,\n            mapped_product,\n            product_name'},
 {'opportunity_to_name': "SELECT id AS account_id,\n          CONCAT_WS(',', COLLECT_SET(LOWER(name))) AS account_name\n   FROM sfdc.accounts\n   WHERE dt = '{run_date}'\n   GROUP BY id"},
 {'opportunity_arr_tmp_org': "SELECT so.account_id,\n          COALESCE(account_name, so.account_id) AS account_name,\n          id AS opportunity_id,\n          prior_opportunity_c AS prior_opportunity_id,\n          DATE_FORMAT(service_start_date_c, 'yyyy-MM-dd') AS service_start_day,\n          DATE_FORMAT(CASE\n                          WHEN stage_name NOT IN ('Won', '7 - ICR', 'Won - Pending')\n                               AND service_start_date_c IS NOT NULL THEN service_start_date_c\n                          ELSE effective_date_c\n                      END, 'yyyy-MM-dd') AS effective_day,\n          CASE\n              WHEN service_end_date_c IS NULL THEN ADD_MONTHS(DATE_FORMAT(service_start_date_c, 'yyyy-MM-dd'), 12)\n              ELSE DATE_FORMAT(service_end_date_c, 'yyyy-MM-dd')\n          END AS service_end_day,\n          stage_name,\n          TYPE,\n          COALESCE(CAST(arr_c AS DOUBLE), 0) AS arr\n   FROM sfdc.opportunities so\n   LEFT JOIN opportunity_to_name otn ON so.account_id = otn.account_id\n   WHERE dt = '{run_date}'\n     AND service_start_date_c IS NOT NULL\n     AND so.account_id IS NOT NULL\n     AND is_deleted = FALSE\n     AND (stage_name IN ('Won',\n                         '7 - ICR',\n                         'Won - Pending')\n          OR (TYPE = 'Renewal Business'\n              AND stage_name NOT IN ('Lost',\n                                     'Dead',\n                                     'Closed - No Decision')))\n     AND non_enterprise_c = FALSE\n     AND (service_end_date_c IS NULL\n          OR DATE_FORMAT(service_end_date_c, 'yyyy-MM') > DATE_FORMAT(service_start_date_c, 'yyyy-MM'))\n     AND COALESCE(CAST(arr_c AS DOUBLE), 0) > 0 "},
 {'opportunity_arr_tmp': "SELECT a.account_id,\n          a.account_name,\n          a.opportunity_id,\n          a.prior_opportunity_id,\n          a.service_start_day,\n          a.effective_day,\n          a.service_end_day,\n          a.stage_name,\n          a.type,\n          CASE\n              WHEN a.stage_name IN ('Won',\n                                    '7 - ICR',\n                                    'Won - Pending') THEN a.arr\n              ELSE b.arr\n          END AS arr\n   FROM opportunity_arr_tmp_org a\n   LEFT JOIN opportunity_arr_tmp_org b ON COALESCE(a.prior_opportunity_id, '') = b.opportunity_id\n   WHERE a.stage_name IN ('Won',\n                          '7 - ICR',\n                          'Won - Pending')\n     OR (a.stage_name NOT IN ('Won',\n                              '7 - ICR',\n                              'Won - Pending')\n         AND b.service_end_day >= DATE_SUB('{run_date}', 45)) "},
 {'opportunity_arr': "SELECT oa.account_id,\n          oa.account_name,\n          oa.opportunity_id,\n          oa.prior_opportunity_id,\n          oa.service_start_day,\n          CASE\n              WHEN oa.opportunity_id IN ('0063600000VQA62AAH',\n                                         '00636000004NSbIAAW',\n                                         '0063600000VwjuXAAR') THEN oa.service_start_day\n              ELSE oa.effective_day\n          END AS effective_day,\n          CASE\n              WHEN DATE_FORMAT(oaa.service_start_day, 'yyyy-MM-01') <= DATE_FORMAT(oa.service_end_day, 'yyyy-MM-01') THEN ADD_MONTHS(DATE_FORMAT(oaa.service_start_day, 'yyyy-MM-01'), -1)\n              ELSE oa.service_end_day\n          END AS service_end_day,\n          CASE\n              WHEN DATE_FORMAT(oaa.service_start_day, 'yyyy-MM-01') <= DATE_FORMAT(oa.service_end_day, 'yyyy-MM-01') THEN TRUE\n              ELSE FALSE\n          END AS is_superceded,\n          oa.stage_name,\n          oa.type,\n          oa.arr\n   FROM opportunity_arr_tmp oa\n   INNER JOIN opportunity_arr_tmp oaa ON oa.opportunity_id = oaa.prior_opportunity_id\n   AND oaa.type = 'Renewal Business'\n   AND oaa.prior_opportunity_id IS NOT NULL\n   UNION ALL SELECT a.account_id,\n                    a.account_name,\n                    a.opportunity_id,\n                    a.prior_opportunity_id,\n                    a.service_start_day,\n                    CASE\n                        WHEN a.opportunity_id IN ('0063600000VQA62AAH',\n                                                  '00636000004NSbIAAW',\n                                                  '0063600000VwjuXAAR') THEN a.service_start_day\n                        ELSE a.effective_day\n                    END AS effective_day,\n                    a.service_end_day,\n                    FALSE AS is_superceded,\n                             a.stage_name,\n                             a.type,\n                             a.arr\n   FROM opportunity_arr_tmp a\n   LEFT JOIN opportunity_arr_tmp b ON a.opportunity_id = b.prior_opportunity_id\n   AND b.type = 'Renewal Business'\n   AND b.prior_opportunity_id IS NOT NULL\n   WHERE b.opportunity_id IS NULL "},
 {'pricing_by_method_nw': [{'level_1_main': "SELECT pm.opportunity_id,        mapped_product,        product_name,        list_price_value WHERE oa.stage_name IN ('Won',                         '7 - ICR',                         'Won - Pending') UNION ALL SELECT a.opportunity_id,        mapped_product,        product_name,        list_price_value FROM   (SELECT opportunity_id,           prior_opportunity_id    FROM opportunity_arr    WHERE stage_name NOT IN ('Won',                             '7 - ICR',                             'Won - Pending')      AND prior_opportunity_id IS NOT NULL ) a INNER JOIN pricing_by_method pmm ON a.prior_opportunity_id = pmm.opportunity_id FROM pricing_by_method pm INNER JOIN opportunity_arr oa ON pm.opportunity_id = oa.opportunity_id "}]},
 {'account_product': "SELECT account_id,\n          COALESCE(mapped_product, 'maps') AS mapped_product,\n          COALESCE(product_name, 'unknown') AS product_name,\n          MIN(service_start_day) AS service_start_day,\n          MAX(service_end_day) AS service_end_day\n   FROM opportunity_arr oa\n   LEFT JOIN pricing_by_method_nw pm ON oa.opportunity_id = pm.opportunity_id\n   GROUP BY account_id,\n            mapped_product,\n            product_name"},
 {'arr_by_month_dummy': [{'level_1_main': 'SELECT am.account_id,        COALESCE(account_name, am.account_id) AS account_name,        mapped_product,        product_name,        year_month AS service_month WHERE year_month BETWEEN min_month AND max_month FROM ym INNER JOIN am ON ym.dummy = am.dummy LEFT JOIN opportunity_to_name otn ON am.account_id = otn.account_id '},
   {'ym': "SELECT year_month, 'dummy' AS dummy FROM wbr.year_month_dummy_final"},
   {'am': "SELECT account_id, mapped_product, product_name, MAX('dummy') AS dummy, MIN(DATE_FORMAT(service_start_day, 'yyyy-MM-01')) AS min_month, MAX(DATE_FORMAT(ADD_MONTHS(service_end_day, 1), 'yyyy-MM-01'))AS max_month FROM account_product GROUP BY account_id, mapped_product, product_name"}]},
 {'opportunity_product': "SELECT oa.*,\n          COALESCE(product_name, 'unknown') AS product_name,\n          COALESCE(CASE\n                       WHEN mapped_product IN ('bundled') THEN 'maps'\n                       ELSE mapped_product\n                   END, 'maps') AS mapped_product,\n          COALESCE(list_price_value, 0) AS list_price_value,\n          CASE\n              WHEN product_name IS NOT NULL\n                   AND mapped_product NOT IN ('bundled') THEN COALESCE(list_price_value, 0)\n              ELSE 0\n          END AS product_value,\n          COUNT(product_name) OVER (PARTITION BY oa.account_id,\n                                                 oa.opportunity_id) AS num_items,\n                                   SUM(COALESCE(list_price_value, 0)) OVER (PARTITION BY oa.account_id,\n                                                                                         oa.opportunity_id) AS total_value,\n                                                                           SUM(CASE\n                                                                                   WHEN product_name IS NOT NULL\n                                                                                        AND mapped_product NOT IN ('bundled') THEN COALESCE(list_price_value, 0)\n                                                                                   ELSE 0\n                                                                               END) OVER (PARTITION BY oa.account_id,\n                                                                                                       oa.opportunity_id) AS total_product_value\n   FROM opportunity_arr oa\n   LEFT JOIN pricing_by_method_nw pm ON oa.opportunity_id = pm.opportunity_id"},
 {'opp_product_share': [{'level_1_main': "SELECT DATE_FORMAT(service_start_day, 'yyyy-MM-01') AS service_start_month,        DATE_FORMAT(service_end_day_r, 'yyyy-MM-01') AS service_end_month,        a.*,        arr * SHARE AS arr_p FROM a "},
   {'a': "SELECT *, CASE WHEN mapped_product = 'maps' AND product_name = 'unknown' AND num_items <= 1 THEN 1 WHEN (total_value > 0 AND total_product_value = 0) THEN list_price_value / total_value WHEN total_product_value > 0 THEN product_value / total_product_value ELSE 0 END AS SHARE, service_end_day AS service_end_day_r FROM opportunity_product"}]},
 {'arr_product_exp': "SELECT md.account_id,\n          md.account_name,\n          md.product_name,\n          CASE\n              WHEN md.mapped_product IN ('bundled') THEN 'maps'\n              ELSE md.mapped_product\n          END AS mapped_product,\n          service_month,\n          COLLECT_SET(opportunity_id) AS opportunity_id_s,\n          COLLECT_SET(CASE\n                          WHEN stage_name NOT IN ('Won', '7 - ICR', 'Won - Pending') THEN opportunity_id\n                          ELSE NULL\n                      END) AS opportunity_id_nw,\n          SUM(arr_p) AS arr_p\n   FROM arr_by_month_dummy md\n   LEFT JOIN opp_product_share ps ON md.account_id = ps.account_id\n   AND md.product_name = ps.product_name\n   AND md.service_month BETWEEN ps.service_start_month AND ps.service_end_month\n   GROUP BY md.account_id,\n            md.account_name,\n            md.product_name,\n            md.mapped_product,\n            service_month"},
 {'arr_product_prev': "SELECT account_id,\n          account_name,\n          mapped_product,\n          product_name,\n          service_month,\n          COALESCE(ROUND(arr_p, 2), 0) AS arr_p,\n          COALESCE(LAG(ROUND(arr_p, 2)) OVER (PARTITION BY account_id, product_name\n                                              ORDER BY service_month ASC), 0) AS prev_arr_p,\n          opportunity_id_s AS opportunity_id,\n          CONCAT_WS(',', opportunity_id_s) AS opportunity_id_p,\n          LAG(CONCAT_WS(',', opportunity_id_s)) OVER (PARTITION BY account_id,\n                                                                   product_name\n                                                      ORDER BY service_month ASC) AS prev_opportunity_id_p,\n                                                     CONCAT_WS(',', opportunity_id_nw) AS opportunity_id_nw\n   FROM arr_product_exp"},
 {'arr_product_status': "SELECT account_id,\n          account_name,\n          mapped_product,\n          product_name,\n          service_month,\n          CASE\n              WHEN arr_p > 0\n                   AND prev_arr_p = 0 THEN 'new'\n              WHEN arr_p = 0\n                   AND prev_arr_p > 0 THEN 'churn'\n              WHEN arr_p > 0\n                   AND arr_p < prev_arr_p THEN 'contraction'\n              WHEN arr_p > 0\n                   AND arr_p > prev_arr_p THEN 'expansion'\n              WHEN arr_p > 0\n                   AND arr_p = prev_arr_p\n                   AND opportunity_id_p <> prev_opportunity_id_p THEN 'renewal'\n              WHEN arr_p > 0\n                   AND arr_p = prev_arr_p\n                   AND opportunity_id_p = prev_opportunity_id_p THEN 'active'\n              WHEN arr_p = 0\n                   AND prev_arr_p = 0 THEN 'not_active'\n              ELSE 'unknown'\n          END AS product_status,\n          arr_p,\n          prev_arr_p,\n          opportunity_id,\n          opportunity_id_p,\n          prev_opportunity_id_p,\n          opportunity_id_nw\n   FROM arr_product_prev"},
 {'arr_product_status_mid': "SELECT COALESCE(mid_product, 'unmapped') AS mid_product,\n          ps.*\n   FROM arr_product_status ps\n   LEFT JOIN wbr.product_service_mapping sm ON ps.product_name = sm.product_name"},
 {'arr_account': [{'level_1_main': "SELECT account_id,        service_month,        arr_a,        prev_arr_a,        CASE            WHEN arr_a > 0                 AND prev_arr_a = 0 THEN 'new'            WHEN arr_a = 0                 AND prev_arr_a > 0 THEN 'churn'            WHEN arr_a > 0                 AND arr_a < prev_arr_a THEN 'contraction'            WHEN arr_a > 0                 AND arr_a > prev_arr_a THEN 'expansion'            WHEN arr_a > 0                 AND arr_a = prev_arr_a                 AND opportunity_id_a <> prev_opportunity_id_a THEN 'renewal'            WHEN arr_a > 0                 AND arr_a = prev_arr_a                 AND opportunity_id_a = prev_opportunity_id_a THEN 'active'            WHEN arr_a = 0                 AND prev_arr_a = 0 THEN 'not_active'            ELSE 'unknown'        END AS account_status FROM c "},
   {'c': 'SELECT account_id,        service_month,        ROUND(arr_a, 2) AS arr_a,        ROUND(COALESCE(LAG(arr_a) OVER (PARTITION BY account_id                                        ORDER BY service_month ASC), 0), 2) AS prev_arr_a,        opportunity_id_a,        prev_opportunity_id_a FROM b '},
   {'b': "SELECT account_id,        service_month,        SUM(arr_a) OVER (PARTITION BY account_id                         ORDER BY service_month ASC) AS arr_a,                        CONCAT_WS(',', opportunity_id_a) AS opportunity_id_a,                        LAG(CONCAT_WS(',', opportunity_id_a)) OVER (PARTITION BY account_id                                                                    ORDER BY service_month ASC) AS prev_opportunity_id_a FROM a "},
   {'a': 'SELECT aa.account_id,        aa.service_month,        arr_a,        opportunity_id_a FROM aa LEFT JOIN bb ON aa.account_id = bb.account_id '},
   {'aa': 'SELECT account_id, service_month, SUM(COALESCE(arr_p, 0) - COALESCE(prev_arr_p, 0)) AS arr_a FROM arr_product_status_mid GROUP BY account_id, service_month'},
   {'bb': 'SELECT account_id, service_month, COLLECT_SET(opp) AS opportunity_id_a FROM arr_product_status_mid LATERAL VIEW EXPLODE (opportunity_id) t AS opp GROUP BY account_id, service_month'}]},
 {'arr_mapped_product': [{'level_1_main': "SELECT account_id,        mapped_product,        service_month,        arr_m,        prev_arr_m,        CASE            WHEN arr_m > 0                 AND prev_arr_m = 0 THEN 'new'            WHEN arr_m = 0                 AND prev_arr_m > 0 THEN 'churn'            WHEN arr_m > 0                 AND arr_m < prev_arr_m THEN 'contraction'            WHEN arr_m > 0                 AND arr_m > prev_arr_m THEN 'expansion'            WHEN arr_m > 0                 AND arr_m = prev_arr_m                 AND opportunity_id_m <> prev_opportunity_id_m THEN 'renewal'            WHEN arr_m > 0                 AND arr_m = prev_arr_m                 AND opportunity_id_m = prev_opportunity_id_m THEN 'active'            WHEN arr_m = 0                 AND prev_arr_m = 0 THEN 'not_active'            ELSE 'unknown'        END AS mapped_status FROM c "},
   {'c': 'SELECT account_id,        mapped_product,        service_month,        ROUND(arr_m, 2) AS arr_m,        ROUND(COALESCE(LAG(arr_m) OVER (PARTITION BY account_id, mapped_product                                        ORDER BY service_month ASC), 0), 2) AS prev_arr_m,        opportunity_id_m,        prev_opportunity_id_m FROM b '},
   {'b': "SELECT account_id,        mapped_product,        service_month,        SUM(arr_m) OVER (PARTITION BY account_id,                                      mapped_product                         ORDER BY service_month ASC) AS arr_m,                        CONCAT_WS(',', opportunity_id_m) AS opportunity_id_m,                        LAG(CONCAT_WS(',', opportunity_id_m)) OVER (PARTITION BY account_id,                                                                                 mapped_product                                                                    ORDER BY service_month ASC) AS prev_opportunity_id_m FROM a "},
   {'a': 'SELECT aa.account_id,        aa.service_month,        aa.mapped_product,        arr_m,        opportunity_id_m FROM aa LEFT JOIN bb ON aa.account_id = bb.account_id '},
   {'aa': 'SELECT account_id, mapped_product, service_month, SUM(COALESCE(arr_p, 0) - COALESCE(prev_arr_p, 0)) AS arr_m FROM arr_product_status_mid GROUP BY account_id, mapped_product, service_month'},
   {'bb': 'SELECT account_id, mapped_product, service_month, COLLECT_SET(opp) AS opportunity_id_m FROM arr_product_status_mid LATERAL VIEW EXPLODE (opportunity_id) t AS opp GROUP BY account_id, mapped_product, service_month'}]},
 {'arr_mid_product': [{'level_1_main': "SELECT account_id,        mid_product,        service_month,        arr_mid,        prev_arr_mid,        CASE            WHEN arr_mid > 0                 AND prev_arr_mid = 0 THEN 'new'            WHEN arr_mid = 0                 AND prev_arr_mid > 0 THEN 'churn'            WHEN arr_mid > 0                 AND arr_mid < prev_arr_mid THEN 'contraction'            WHEN arr_mid > 0                 AND arr_mid > prev_arr_mid THEN 'expansion'            WHEN arr_mid > 0                 AND arr_mid = prev_arr_mid                 AND opportunity_id_mid <> prev_opportunity_id_mid THEN 'renewal'            WHEN arr_mid > 0                 AND arr_mid = prev_arr_mid                 AND opportunity_id_mid = prev_opportunity_id_mid THEN 'active'            WHEN arr_mid = 0                 AND prev_arr_mid = 0 THEN 'not_active'            ELSE 'unknown'        END AS mid_status FROM c "},
   {'c': 'SELECT account_id,        mid_product,        service_month,        ROUND(arr_mid, 2) AS arr_mid,        ROUND(COALESCE(LAG(arr_mid) OVER (PARTITION BY account_id, mid_product                                          ORDER BY service_month ASC), 0), 2) AS prev_arr_mid,        opportunity_id_mid,        prev_opportunity_id_mid FROM b '},
   {'b': "SELECT account_id,        mid_product,        service_month,        SUM(arr_mid) OVER (PARTITION BY account_id,                                        mid_product                           ORDER BY service_month ASC) AS arr_mid,                          CONCAT_WS(',', opportunity_id_mid) AS opportunity_id_mid,                          LAG(CONCAT_WS(',', opportunity_id_mid)) OVER (PARTITION BY account_id,                                                                                     mid_product                                                                        ORDER BY service_month ASC) AS prev_opportunity_id_mid FROM a "},
   {'a': 'SELECT aa.account_id,        aa.service_month,        aa.mid_product,        arr_mid,        opportunity_id_mid FROM aa LEFT JOIN bb ON aa.account_id = bb.account_id '},
   {'aa': 'SELECT account_id, mid_product, service_month, SUM(COALESCE(arr_p, 0) - COALESCE(prev_arr_p, 0)) AS arr_mid FROM arr_product_status_mid GROUP BY account_id, mid_product, service_month'},
   {'bb': 'SELECT account_id, mid_product, service_month, COLLECT_SET(opp) AS opportunity_id_mid FROM arr_product_status_mid LATERAL VIEW EXPLODE (opportunity_id) t AS opp GROUP BY account_id, mid_product, service_month'}]},
 {'arr_full_status': 'SELECT ps.service_month,\n          ps.account_id,\n          account_name,\n          ps.mapped_product,\n          ps.mid_product,\n          product_name,\n          account_status,\n          mapped_status,\n          mid_status,\n          product_status,\n          arr_p - prev_arr_p AS arr_p,\n          arr_p AS cum_arr_p,\n          prev_arr_p AS prev_cum_arr_p,\n          opportunity_id_p,\n          prev_opportunity_id_p,\n          opportunity_id_nw\n   FROM arr_product_status_mid ps\n   INNER JOIN arr_account aa ON ps.account_id = aa.account_id\n   AND ps.service_month = aa.service_month\n   INNER JOIN arr_mapped_product mp ON ps.account_id = mp.account_id\n   AND ps.service_month = mp.service_month\n   AND ps.mapped_product = mp.mapped_product\n   INNER JOIN arr_mid_product md ON ps.account_id = md.account_id\n   AND ps.service_month = md.service_month\n   AND ps.mid_product = md.mid_product'},
 {'main_query': 'SELECT service_month,\n       account_id,\n       account_name,\n       mapped_product,\n       mid_product,\n       product_name,\n       account_status,\n       mapped_status,\n       mid_status,\n       product_status,\n       arr_p,\n       cum_arr_p,\n       prev_cum_arr_p,\n       opportunity_id_p,\n       prev_opportunity_id_p,\n       opportunity_id_nw\nFROM arr_full_status'}]

In [13]:
query_list

[{'opportunity_product_rev': "SELECT opportunity_id,\n          op.product_2_id,\n          p.name AS product_name,\n          COALESCE(CAST(quantity AS DOUBLE) * CAST(list_price AS DOUBLE), 0) AS total_price,\n          netsuite_conn_netsuite_item_key_id_c AS netsuite_conn_net_suite_item_key_id_c,\n          COUNT(netsuite_conn_netsuite_item_key_id_c) OVER (PARTITION BY opportunity_id) AS num_netsuite_items\n   FROM sfdc.opportunity_product op\n   LEFT JOIN sfdc.products p ON op.product_2_id = p.id\n   AND p.dt = '{run_date}'\n   WHERE op.dt = '{run_date}'\n     AND opportunity_id IS NOT NULL\n     AND product_name_c IS NOT NULL\n     AND op.is_deleted = FALSE "},
 {'product_mapping': [{'level_1_main': "SELECT opportunity_id,        op.product_name,        COALESCE(mapped_product, 'unmapped') AS mapped_product,        CASE            WHEN op.opportunity_id = '0063600000B1icTAAR'                 AND op.product_2_id = '01t36000001SzdWAAS' THEN 0.0            WHEN op.opportunity_id = '00636000004JKS0AAO'                 AND op.product_2_id = '01t36000000iDrwAAE' THEN 42.0            WHEN op.opportunity_id = '00636000004JKS0AAO'                 AND op.product_2_id = '01t36000001SzdWAAS' THEN 58.0            WHEN op.opportunity_id = '00636000006IgpvAAC'                 AND op.product_2_id = '01t36000000iDrwAAE' THEN 9.0            WHEN op.opportunity_id = '00636000006IgpvAAC'                 AND op.product_2_id = '01t36000001SzdWAAS' THEN 91.0            WHEN op.opportunity_id = '00636000008xsoWAAQ'                 AND op.product_2_id = '01t360000007IMZAA2' THEN 3.0            WHEN op.opportunity_id = '00636000008xsoWAAQ'                 AND op.product_2_id = '01t36000000iDrwAAE' THEN 79.5            WHEN op.opportunity_id = '00636000008xsoWAAQ'                 AND op.product_2_id = '01t36000001SzdWAAS' THEN 17.5            WHEN op.opportunity_id = '00636000008xsoWAAQ'                 AND op.product_2_id = '01t36000003Mn0JAAS' THEN 0.0            WHEN op.opportunity_id = '0063600000IH8B9AAL'                 AND op.product_2_id = '01t360000005tjBAAQ' THEN 0.2            WHEN op.opportunity_id = '0063600000IH8B9AAL'                 AND op.product_2_id = '01t360000007IMZAA2' THEN 9.6            WHEN op.opportunity_id = '0063600000IH8B9AAL'                 AND op.product_2_id = '01t36000001SzdWAAS' THEN 61.4            WHEN op.opportunity_id = '0063600000IH8B9AAL'                 AND op.product_2_id = '01t36000004WEfoAAG' THEN 28.3            WHEN op.opportunity_id = '0063600000IH8B9AAL'                 AND op.product_2_id = '01t36000004OtprAAC' THEN 0.5            WHEN op.opportunity_id = '0061R00000ogYPlQAM'                 AND op.product_2_id = '01t36000005vWnJAAU' THEN 13.33            WHEN op.opportunity_id = '0061R00000ogYPlQAM'                 AND op.product_2_id = '01t36000005vg85AAA' THEN 66.67            WHEN op.opportunity_id = '0061R00000ogYPlQAM'                 AND op.product_2_id = '01t36000005vX1wAAE' THEN 20.0            ELSE total_price        END AS list_price_value WHERE total_price > 0   AND (netsuite_conn_net_suite_item_key_id_c IS NOT NULL        OR num_netsuite_items = 0) FROM opportunity_product_rev op LEFT JOIN sm ON op.product_name = sm.product_name "},
   {'sm': "SELECT name AS product_name, COALESCE(MAX(service_organization_c), 'unmapped') AS mapped_product, COALESCE(MAX(service_organization_c), 'unmapped') AS mid_product, COALESCE(MAX(sku_id_c), 'unknown') AS endpoint FROM sfdc.products WHERE dt = '{run_date}' GROUP BY name"}]},
 {'pricing_by_method': 'SELECT opportunity_id,\n          mapped_product,\n          product_name,\n          SUM(list_price_value) AS list_price_value\n   FROM product_mapping\n   GROUP BY opportunity_id,\n            mapped_product,\n            product_name'},
 {'opportunity_to_name': "SELECT id AS account_id,\n          CONCAT_WS(',', COLLECT_SET(LOWER(name))) AS account_name\n   FROM sfdc.accounts\n   WHERE dt = '{run_date}'\n   GROUP BY id"},
 {'opportunity_arr_tmp_org': "SELECT so.account_id,\n          COALESCE(account_name, so.account_id) AS account_name,\n          id AS opportunity_id,\n          prior_opportunity_c AS prior_opportunity_id,\n          DATE_FORMAT(service_start_date_c, 'yyyy-MM-dd') AS service_start_day,\n          DATE_FORMAT(CASE\n                          WHEN stage_name NOT IN ('Won', '7 - ICR', 'Won - Pending')\n                               AND service_start_date_c IS NOT NULL THEN service_start_date_c\n                          ELSE effective_date_c\n                      END, 'yyyy-MM-dd') AS effective_day,\n          CASE\n              WHEN service_end_date_c IS NULL THEN ADD_MONTHS(DATE_FORMAT(service_start_date_c, 'yyyy-MM-dd'), 12)\n              ELSE DATE_FORMAT(service_end_date_c, 'yyyy-MM-dd')\n          END AS service_end_day,\n          stage_name,\n          TYPE,\n          COALESCE(CAST(arr_c AS DOUBLE), 0) AS arr\n   FROM sfdc.opportunities so\n   LEFT JOIN opportunity_to_name otn ON so.account_id = otn.account_id\n   WHERE dt = '{run_date}'\n     AND service_start_date_c IS NOT NULL\n     AND so.account_id IS NOT NULL\n     AND is_deleted = FALSE\n     AND (stage_name IN ('Won',\n                         '7 - ICR',\n                         'Won - Pending')\n          OR (TYPE = 'Renewal Business'\n              AND stage_name NOT IN ('Lost',\n                                     'Dead',\n                                     'Closed - No Decision')))\n     AND non_enterprise_c = FALSE\n     AND (service_end_date_c IS NULL\n          OR DATE_FORMAT(service_end_date_c, 'yyyy-MM') > DATE_FORMAT(service_start_date_c, 'yyyy-MM'))\n     AND COALESCE(CAST(arr_c AS DOUBLE), 0) > 0 "},
 {'opportunity_arr_tmp': "SELECT a.account_id,\n          a.account_name,\n          a.opportunity_id,\n          a.prior_opportunity_id,\n          a.service_start_day,\n          a.effective_day,\n          a.service_end_day,\n          a.stage_name,\n          a.type,\n          CASE\n              WHEN a.stage_name IN ('Won',\n                                    '7 - ICR',\n                                    'Won - Pending') THEN a.arr\n              ELSE b.arr\n          END AS arr\n   FROM opportunity_arr_tmp_org a\n   LEFT JOIN opportunity_arr_tmp_org b ON COALESCE(a.prior_opportunity_id, '') = b.opportunity_id\n   WHERE a.stage_name IN ('Won',\n                          '7 - ICR',\n                          'Won - Pending')\n     OR (a.stage_name NOT IN ('Won',\n                              '7 - ICR',\n                              'Won - Pending')\n         AND b.service_end_day >= DATE_SUB('{run_date}', 45)) "},
 {'opportunity_arr': "SELECT oa.account_id,\n          oa.account_name,\n          oa.opportunity_id,\n          oa.prior_opportunity_id,\n          oa.service_start_day,\n          CASE\n              WHEN oa.opportunity_id IN ('0063600000VQA62AAH',\n                                         '00636000004NSbIAAW',\n                                         '0063600000VwjuXAAR') THEN oa.service_start_day\n              ELSE oa.effective_day\n          END AS effective_day,\n          CASE\n              WHEN DATE_FORMAT(oaa.service_start_day, 'yyyy-MM-01') <= DATE_FORMAT(oa.service_end_day, 'yyyy-MM-01') THEN ADD_MONTHS(DATE_FORMAT(oaa.service_start_day, 'yyyy-MM-01'), -1)\n              ELSE oa.service_end_day\n          END AS service_end_day,\n          CASE\n              WHEN DATE_FORMAT(oaa.service_start_day, 'yyyy-MM-01') <= DATE_FORMAT(oa.service_end_day, 'yyyy-MM-01') THEN TRUE\n              ELSE FALSE\n          END AS is_superceded,\n          oa.stage_name,\n          oa.type,\n          oa.arr\n   FROM opportunity_arr_tmp oa\n   INNER JOIN opportunity_arr_tmp oaa ON oa.opportunity_id = oaa.prior_opportunity_id\n   AND oaa.type = 'Renewal Business'\n   AND oaa.prior_opportunity_id IS NOT NULL\n   UNION ALL SELECT a.account_id,\n                    a.account_name,\n                    a.opportunity_id,\n                    a.prior_opportunity_id,\n                    a.service_start_day,\n                    CASE\n                        WHEN a.opportunity_id IN ('0063600000VQA62AAH',\n                                                  '00636000004NSbIAAW',\n                                                  '0063600000VwjuXAAR') THEN a.service_start_day\n                        ELSE a.effective_day\n                    END AS effective_day,\n                    a.service_end_day,\n                    FALSE AS is_superceded,\n                             a.stage_name,\n                             a.type,\n                             a.arr\n   FROM opportunity_arr_tmp a\n   LEFT JOIN opportunity_arr_tmp b ON a.opportunity_id = b.prior_opportunity_id\n   AND b.type = 'Renewal Business'\n   AND b.prior_opportunity_id IS NOT NULL\n   WHERE b.opportunity_id IS NULL "},
 {'pricing_by_method_nw': [{'level_1_main': "SELECT pm.opportunity_id,        mapped_product,        product_name,        list_price_value WHERE oa.stage_name IN ('Won',                         '7 - ICR',                         'Won - Pending') UNION ALL SELECT a.opportunity_id,        mapped_product,        product_name,        list_price_value FROM   (SELECT opportunity_id,           prior_opportunity_id    FROM opportunity_arr    WHERE stage_name NOT IN ('Won',                             '7 - ICR',                             'Won - Pending')      AND prior_opportunity_id IS NOT NULL ) a INNER JOIN pricing_by_method pmm ON a.prior_opportunity_id = pmm.opportunity_id FROM pricing_by_method pm INNER JOIN opportunity_arr oa ON pm.opportunity_id = oa.opportunity_id "}]},
 {'account_product': "SELECT account_id,\n          COALESCE(mapped_product, 'maps') AS mapped_product,\n          COALESCE(product_name, 'unknown') AS product_name,\n          MIN(service_start_day) AS service_start_day,\n          MAX(service_end_day) AS service_end_day\n   FROM opportunity_arr oa\n   LEFT JOIN pricing_by_method_nw pm ON oa.opportunity_id = pm.opportunity_id\n   GROUP BY account_id,\n            mapped_product,\n            product_name"},
 {'arr_by_month_dummy': [{'level_1_main': 'SELECT am.account_id,        COALESCE(account_name, am.account_id) AS account_name,        mapped_product,        product_name,        year_month AS service_month WHERE year_month BETWEEN min_month AND max_month FROM ym INNER JOIN am ON ym.dummy = am.dummy LEFT JOIN opportunity_to_name otn ON am.account_id = otn.account_id '},
   {'ym': "SELECT year_month, 'dummy' AS dummy FROM wbr.year_month_dummy_final"},
   {'am': "SELECT account_id, mapped_product, product_name, MAX('dummy') AS dummy, MIN(DATE_FORMAT(service_start_day, 'yyyy-MM-01')) AS min_month, MAX(DATE_FORMAT(ADD_MONTHS(service_end_day, 1), 'yyyy-MM-01'))AS max_month FROM account_product GROUP BY account_id, mapped_product, product_name"}]},
 {'opportunity_product': "SELECT oa.*,\n          COALESCE(product_name, 'unknown') AS product_name,\n          COALESCE(CASE\n                       WHEN mapped_product IN ('bundled') THEN 'maps'\n                       ELSE mapped_product\n                   END, 'maps') AS mapped_product,\n          COALESCE(list_price_value, 0) AS list_price_value,\n          CASE\n              WHEN product_name IS NOT NULL\n                   AND mapped_product NOT IN ('bundled') THEN COALESCE(list_price_value, 0)\n              ELSE 0\n          END AS product_value,\n          COUNT(product_name) OVER (PARTITION BY oa.account_id,\n                                                 oa.opportunity_id) AS num_items,\n                                   SUM(COALESCE(list_price_value, 0)) OVER (PARTITION BY oa.account_id,\n                                                                                         oa.opportunity_id) AS total_value,\n                                                                           SUM(CASE\n                                                                                   WHEN product_name IS NOT NULL\n                                                                                        AND mapped_product NOT IN ('bundled') THEN COALESCE(list_price_value, 0)\n                                                                                   ELSE 0\n                                                                               END) OVER (PARTITION BY oa.account_id,\n                                                                                                       oa.opportunity_id) AS total_product_value\n   FROM opportunity_arr oa\n   LEFT JOIN pricing_by_method_nw pm ON oa.opportunity_id = pm.opportunity_id"},
 {'opp_product_share': [{'level_1_main': "SELECT DATE_FORMAT(service_start_day, 'yyyy-MM-01') AS service_start_month,        DATE_FORMAT(service_end_day_r, 'yyyy-MM-01') AS service_end_month,        a.*,        arr * SHARE AS arr_p FROM a "},
   {'a': "SELECT *, CASE WHEN mapped_product = 'maps' AND product_name = 'unknown' AND num_items <= 1 THEN 1 WHEN (total_value > 0 AND total_product_value = 0) THEN list_price_value / total_value WHEN total_product_value > 0 THEN product_value / total_product_value ELSE 0 END AS SHARE, service_end_day AS service_end_day_r FROM opportunity_product"}]},
 {'arr_product_exp': "SELECT md.account_id,\n          md.account_name,\n          md.product_name,\n          CASE\n              WHEN md.mapped_product IN ('bundled') THEN 'maps'\n              ELSE md.mapped_product\n          END AS mapped_product,\n          service_month,\n          COLLECT_SET(opportunity_id) AS opportunity_id_s,\n          COLLECT_SET(CASE\n                          WHEN stage_name NOT IN ('Won', '7 - ICR', 'Won - Pending') THEN opportunity_id\n                          ELSE NULL\n                      END) AS opportunity_id_nw,\n          SUM(arr_p) AS arr_p\n   FROM arr_by_month_dummy md\n   LEFT JOIN opp_product_share ps ON md.account_id = ps.account_id\n   AND md.product_name = ps.product_name\n   AND md.service_month BETWEEN ps.service_start_month AND ps.service_end_month\n   GROUP BY md.account_id,\n            md.account_name,\n            md.product_name,\n            md.mapped_product,\n            service_month"},
 {'arr_product_prev': "SELECT account_id,\n          account_name,\n          mapped_product,\n          product_name,\n          service_month,\n          COALESCE(ROUND(arr_p, 2), 0) AS arr_p,\n          COALESCE(LAG(ROUND(arr_p, 2)) OVER (PARTITION BY account_id, product_name\n                                              ORDER BY service_month ASC), 0) AS prev_arr_p,\n          opportunity_id_s AS opportunity_id,\n          CONCAT_WS(',', opportunity_id_s) AS opportunity_id_p,\n          LAG(CONCAT_WS(',', opportunity_id_s)) OVER (PARTITION BY account_id,\n                                                                   product_name\n                                                      ORDER BY service_month ASC) AS prev_opportunity_id_p,\n                                                     CONCAT_WS(',', opportunity_id_nw) AS opportunity_id_nw\n   FROM arr_product_exp"},
 {'arr_product_status': "SELECT account_id,\n          account_name,\n          mapped_product,\n          product_name,\n          service_month,\n          CASE\n              WHEN arr_p > 0\n                   AND prev_arr_p = 0 THEN 'new'\n              WHEN arr_p = 0\n                   AND prev_arr_p > 0 THEN 'churn'\n              WHEN arr_p > 0\n                   AND arr_p < prev_arr_p THEN 'contraction'\n              WHEN arr_p > 0\n                   AND arr_p > prev_arr_p THEN 'expansion'\n              WHEN arr_p > 0\n                   AND arr_p = prev_arr_p\n                   AND opportunity_id_p <> prev_opportunity_id_p THEN 'renewal'\n              WHEN arr_p > 0\n                   AND arr_p = prev_arr_p\n                   AND opportunity_id_p = prev_opportunity_id_p THEN 'active'\n              WHEN arr_p = 0\n                   AND prev_arr_p = 0 THEN 'not_active'\n              ELSE 'unknown'\n          END AS product_status,\n          arr_p,\n          prev_arr_p,\n          opportunity_id,\n          opportunity_id_p,\n          prev_opportunity_id_p,\n          opportunity_id_nw\n   FROM arr_product_prev"},
 {'arr_product_status_mid': "SELECT COALESCE(mid_product, 'unmapped') AS mid_product,\n          ps.*\n   FROM arr_product_status ps\n   LEFT JOIN wbr.product_service_mapping sm ON ps.product_name = sm.product_name"},
 {'arr_account': [{'level_1_main': "SELECT account_id,        service_month,        arr_a,        prev_arr_a,        CASE            WHEN arr_a > 0                 AND prev_arr_a = 0 THEN 'new'            WHEN arr_a = 0                 AND prev_arr_a > 0 THEN 'churn'            WHEN arr_a > 0                 AND arr_a < prev_arr_a THEN 'contraction'            WHEN arr_a > 0                 AND arr_a > prev_arr_a THEN 'expansion'            WHEN arr_a > 0                 AND arr_a = prev_arr_a                 AND opportunity_id_a <> prev_opportunity_id_a THEN 'renewal'            WHEN arr_a > 0                 AND arr_a = prev_arr_a                 AND opportunity_id_a = prev_opportunity_id_a THEN 'active'            WHEN arr_a = 0                 AND prev_arr_a = 0 THEN 'not_active'            ELSE 'unknown'        END AS account_status FROM c "},
   {'c': 'SELECT account_id,        service_month,        ROUND(arr_a, 2) AS arr_a,        ROUND(COALESCE(LAG(arr_a) OVER (PARTITION BY account_id                                        ORDER BY service_month ASC), 0), 2) AS prev_arr_a,        opportunity_id_a,        prev_opportunity_id_a FROM b '},
   {'b': "SELECT account_id,        service_month,        SUM(arr_a) OVER (PARTITION BY account_id                         ORDER BY service_month ASC) AS arr_a,                        CONCAT_WS(',', opportunity_id_a) AS opportunity_id_a,                        LAG(CONCAT_WS(',', opportunity_id_a)) OVER (PARTITION BY account_id                                                                    ORDER BY service_month ASC) AS prev_opportunity_id_a FROM a "},
   {'a': 'SELECT aa.account_id,        aa.service_month,        arr_a,        opportunity_id_a FROM aa LEFT JOIN bb ON aa.account_id = bb.account_id '},
   {'aa': 'SELECT account_id, service_month, SUM(COALESCE(arr_p, 0) - COALESCE(prev_arr_p, 0)) AS arr_a FROM arr_product_status_mid GROUP BY account_id, service_month'},
   {'bb': 'SELECT account_id, service_month, COLLECT_SET(opp) AS opportunity_id_a FROM arr_product_status_mid LATERAL VIEW EXPLODE (opportunity_id) t AS opp GROUP BY account_id, service_month'}]},
 {'arr_mapped_product': [{'level_1_main': "SELECT account_id,        mapped_product,        service_month,        arr_m,        prev_arr_m,        CASE            WHEN arr_m > 0                 AND prev_arr_m = 0 THEN 'new'            WHEN arr_m = 0                 AND prev_arr_m > 0 THEN 'churn'            WHEN arr_m > 0                 AND arr_m < prev_arr_m THEN 'contraction'            WHEN arr_m > 0                 AND arr_m > prev_arr_m THEN 'expansion'            WHEN arr_m > 0                 AND arr_m = prev_arr_m                 AND opportunity_id_m <> prev_opportunity_id_m THEN 'renewal'            WHEN arr_m > 0                 AND arr_m = prev_arr_m                 AND opportunity_id_m = prev_opportunity_id_m THEN 'active'            WHEN arr_m = 0                 AND prev_arr_m = 0 THEN 'not_active'            ELSE 'unknown'        END AS mapped_status FROM c "},
   {'c': 'SELECT account_id,        mapped_product,        service_month,        ROUND(arr_m, 2) AS arr_m,        ROUND(COALESCE(LAG(arr_m) OVER (PARTITION BY account_id, mapped_product                                        ORDER BY service_month ASC), 0), 2) AS prev_arr_m,        opportunity_id_m,        prev_opportunity_id_m FROM b '},