In [93]:
def unnest_query_list(query_list):
    preprocess_list = []
    
    for q in query_list:
        for alias, query in q.items():
            
            if isinstance(query, str):
                preprocess_list.append(query)
            else:
                
                for sub_q in query:
                    sub_list = []
                    for sub_alias, sub_query in sub_q.items():
                        
                        if isinstance(sub_query, str):
                            sub_list.append(sub_query)
                            
                        else:
                            for sub_sub_q in sub_query:
                                for sub_sub_alias, sub_sub_query in sub_sub_q.items():
                                    
                                    if isinstance(sub_sub_query, str):
                                        sub_list.append(sub_sub_query)
                                        
                    preprocess_list.extend(sub_list)
                    
    return preprocess_list

## purely nested

In [94]:
query_list = [{'level_1_main': 'SELECT * FROM no alias '},
 {'level_2_main': 'SELECT a.*,        b.* WHERE context_campaign_name IS NOT NULL FROM a LEFT JOIN b ON a.user_id = b.id '},
 {'a': "SELECT DISTINCT anonymous_id, user_id FROM customer_data.segment_identifies WHERE dt >= '2018-07-01'"},
 {'b': 'SELECT id, email, created FROM customer_data.accounts'}]

In [95]:
query_list

[{'level_1_main': 'SELECT * FROM no alias '},
 {'level_2_main': 'SELECT a.*,        b.* WHERE context_campaign_name IS NOT NULL FROM a LEFT JOIN b ON a.user_id = b.id '},
 {'a': "SELECT DISTINCT anonymous_id, user_id FROM customer_data.segment_identifies WHERE dt >= '2018-07-01'"},
 {'b': 'SELECT id, email, created FROM customer_data.accounts'}]

In [96]:
unnest_query_list(query_list)

['SELECT * FROM no alias ',
 'SELECT a.*,        b.* WHERE context_campaign_name IS NOT NULL FROM a LEFT JOIN b ON a.user_id = b.id ',
 "SELECT DISTINCT anonymous_id, user_id FROM customer_data.segment_identifies WHERE dt >= '2018-07-01'",
 'SELECT id, email, created FROM customer_data.accounts']

## CTE with nested

In [97]:
query_list = [{'opportunity_product_rev': "SELECT opportunity_id,\n          op.product_2_id,\n          p.name AS product_name,\n          COALESCE(CAST(quantity AS DOUBLE) * CAST(list_price AS DOUBLE), 0) AS total_price,\n          netsuite_conn_netsuite_item_key_id_c AS netsuite_conn_net_suite_item_key_id_c,\n          COUNT(netsuite_conn_netsuite_item_key_id_c) OVER (PARTITION BY opportunity_id) AS num_netsuite_items\n   FROM sfdc.opportunity_product op\n   LEFT JOIN sfdc.products p ON op.product_2_id = p.id\n   AND p.dt = '{run_date}'\n   WHERE op.dt = '{run_date}'\n     AND opportunity_id IS NOT NULL\n     AND product_name_c IS NOT NULL\n     AND op.is_deleted = FALSE "},
 {'arr_account': [{'level_1_main': "SELECT account_id,        service_month,        arr_a,        prev_arr_a,        CASE            WHEN arr_a > 0                 AND prev_arr_a = 0 THEN 'new'            WHEN arr_a = 0                 AND prev_arr_a > 0 THEN 'churn'            WHEN arr_a > 0                 AND arr_a < prev_arr_a THEN 'contraction'            WHEN arr_a > 0                 AND arr_a > prev_arr_a THEN 'expansion'            WHEN arr_a > 0                 AND arr_a = prev_arr_a                 AND opportunity_id_a <> prev_opportunity_id_a THEN 'renewal'            WHEN arr_a > 0                 AND arr_a = prev_arr_a                 AND opportunity_id_a = prev_opportunity_id_a THEN 'active'            WHEN arr_a = 0                 AND prev_arr_a = 0 THEN 'not_active'            ELSE 'unknown'        END AS account_status FROM c "},
   {'c': 'SELECT account_id,        service_month,        ROUND(arr_a, 2) AS arr_a,        ROUND(COALESCE(LAG(arr_a) OVER (PARTITION BY account_id                                        ORDER BY service_month ASC), 0), 2) AS prev_arr_a,        opportunity_id_a,        prev_opportunity_id_a FROM b '},
   {'b': "SELECT account_id,        service_month,        SUM(arr_a) OVER (PARTITION BY account_id                         ORDER BY service_month ASC) AS arr_a,                        CONCAT_WS(',', opportunity_id_a) AS opportunity_id_a,                        LAG(CONCAT_WS(',', opportunity_id_a)) OVER (PARTITION BY account_id                                                                    ORDER BY service_month ASC) AS prev_opportunity_id_a FROM a "},
   {'a': 'SELECT aa.account_id,        aa.service_month,        arr_a,        opportunity_id_a FROM aa LEFT JOIN bb ON aa.account_id = bb.account_id '},
   {'aa': 'SELECT account_id, service_month, SUM(COALESCE(arr_p, 0) - COALESCE(prev_arr_p, 0)) AS arr_a FROM arr_product_status_mid GROUP BY account_id, service_month'},
   {'bb': 'SELECT account_id, service_month, COLLECT_SET(opp) AS opportunity_id_a FROM arr_product_status_mid LATERAL VIEW EXPLODE (opportunity_id) t AS opp GROUP BY account_id, service_month'}]},
 {'main_query': 'SELECT service_month,\n       account_id,\n       account_name,\n       mapped_product,\n       mid_product,\n       product_name,\n       account_status,\n       mapped_status,\n       mid_status,\n       product_status,\n       arr_p,\n       cum_arr_p,\n       prev_cum_arr_p,\n       opportunity_id_p,\n       prev_opportunity_id_p,\n       opportunity_id_nw\nFROM arr_full_status'}]

In [98]:
query_list

[{'opportunity_product_rev': "SELECT opportunity_id,\n          op.product_2_id,\n          p.name AS product_name,\n          COALESCE(CAST(quantity AS DOUBLE) * CAST(list_price AS DOUBLE), 0) AS total_price,\n          netsuite_conn_netsuite_item_key_id_c AS netsuite_conn_net_suite_item_key_id_c,\n          COUNT(netsuite_conn_netsuite_item_key_id_c) OVER (PARTITION BY opportunity_id) AS num_netsuite_items\n   FROM sfdc.opportunity_product op\n   LEFT JOIN sfdc.products p ON op.product_2_id = p.id\n   AND p.dt = '{run_date}'\n   WHERE op.dt = '{run_date}'\n     AND opportunity_id IS NOT NULL\n     AND product_name_c IS NOT NULL\n     AND op.is_deleted = FALSE "},
 {'arr_account': [{'level_1_main': "SELECT account_id,        service_month,        arr_a,        prev_arr_a,        CASE            WHEN arr_a > 0                 AND prev_arr_a = 0 THEN 'new'            WHEN arr_a = 0                 AND prev_arr_a > 0 THEN 'churn'            WHEN arr_a > 0                 AND arr_a < prev_arr_a THEN 'contraction'            WHEN arr_a > 0                 AND arr_a > prev_arr_a THEN 'expansion'            WHEN arr_a > 0                 AND arr_a = prev_arr_a                 AND opportunity_id_a <> prev_opportunity_id_a THEN 'renewal'            WHEN arr_a > 0                 AND arr_a = prev_arr_a                 AND opportunity_id_a = prev_opportunity_id_a THEN 'active'            WHEN arr_a = 0                 AND prev_arr_a = 0 THEN 'not_active'            ELSE 'unknown'        END AS account_status FROM c "},
   {'c': 'SELECT account_id,        service_month,        ROUND(arr_a, 2) AS arr_a,        ROUND(COALESCE(LAG(arr_a) OVER (PARTITION BY account_id                                        ORDER BY service_month ASC), 0), 2) AS prev_arr_a,        opportunity_id_a,        prev_opportunity_id_a FROM b '},
   {'b': "SELECT account_id,        service_month,        SUM(arr_a) OVER (PARTITION BY account_id                         ORDER BY service_month ASC) AS arr_a,                        CONCAT_WS(',', opportunity_id_a) AS opportunity_id_a,                        LAG(CONCAT_WS(',', opportunity_id_a)) OVER (PARTITION BY account_id                                                                    ORDER BY service_month ASC) AS prev_opportunity_id_a FROM a "},
   {'a': 'SELECT aa.account_id,        aa.service_month,        arr_a,        opportunity_id_a FROM aa LEFT JOIN bb ON aa.account_id = bb.account_id '},
   {'aa': 'SELECT account_id, service_month, SUM(COALESCE(arr_p, 0) - COALESCE(prev_arr_p, 0)) AS arr_a FROM arr_product_status_mid GROUP BY account_id, service_month'},
   {'bb': 'SELECT account_id, service_month, COLLECT_SET(opp) AS opportunity_id_a FROM arr_product_status_mid LATERAL VIEW EXPLODE (opportunity_id) t AS opp GROUP BY account_id, service_month'}]},
 {'main_query': 'SELECT service_month,\n       account_id,\n       account_name,\n       mapped_product,\n       mid_product,\n       product_name,\n       account_status,\n       mapped_status,\n       mid_status,\n       product_status,\n       arr_p,\n       cum_arr_p,\n       prev_cum_arr_p,\n       opportunity_id_p,\n       prev_opportunity_id_p,\n       opportunity_id_nw\nFROM arr_full_status'}]

In [99]:
unnest_query_list(query_list)

["SELECT opportunity_id,\n          op.product_2_id,\n          p.name AS product_name,\n          COALESCE(CAST(quantity AS DOUBLE) * CAST(list_price AS DOUBLE), 0) AS total_price,\n          netsuite_conn_netsuite_item_key_id_c AS netsuite_conn_net_suite_item_key_id_c,\n          COUNT(netsuite_conn_netsuite_item_key_id_c) OVER (PARTITION BY opportunity_id) AS num_netsuite_items\n   FROM sfdc.opportunity_product op\n   LEFT JOIN sfdc.products p ON op.product_2_id = p.id\n   AND p.dt = '{run_date}'\n   WHERE op.dt = '{run_date}'\n     AND opportunity_id IS NOT NULL\n     AND product_name_c IS NOT NULL\n     AND op.is_deleted = FALSE ",
 "SELECT account_id,        service_month,        arr_a,        prev_arr_a,        CASE            WHEN arr_a > 0                 AND prev_arr_a = 0 THEN 'new'            WHEN arr_a = 0                 AND prev_arr_a > 0 THEN 'churn'            WHEN arr_a > 0                 AND arr_a < prev_arr_a THEN 'contraction'            WHEN arr_a > 0                 AND arr_a > prev_arr_a THEN 'expansion'            WHEN arr_a > 0                 AND arr_a = prev_arr_a                 AND opportunity_id_a <> prev_opportunity_id_a THEN 'renewal'            WHEN arr_a > 0                 AND arr_a = prev_arr_a                 AND opportunity_id_a = prev_opportunity_id_a THEN 'active'            WHEN arr_a = 0                 AND prev_arr_a = 0 THEN 'not_active'            ELSE 'unknown'        END AS account_status FROM c ",
 'SELECT account_id,        service_month,        ROUND(arr_a, 2) AS arr_a,        ROUND(COALESCE(LAG(arr_a) OVER (PARTITION BY account_id                                        ORDER BY service_month ASC), 0), 2) AS prev_arr_a,        opportunity_id_a,        prev_opportunity_id_a FROM b ',
 "SELECT account_id,        service_month,        SUM(arr_a) OVER (PARTITION BY account_id                         ORDER BY service_month ASC) AS arr_a,                        CONCAT_WS(',', opportunity_id_a) AS opportunity_id_a,                        LAG(CONCAT_WS(',', opportunity_id_a)) OVER (PARTITION BY account_id                                                                    ORDER BY service_month ASC) AS prev_opportunity_id_a FROM a ",
 'SELECT aa.account_id,        aa.service_month,        arr_a,        opportunity_id_a FROM aa LEFT JOIN bb ON aa.account_id = bb.account_id ',
 'SELECT account_id, service_month, SUM(COALESCE(arr_p, 0) - COALESCE(prev_arr_p, 0)) AS arr_a FROM arr_product_status_mid GROUP BY account_id, service_month',
 'SELECT account_id, service_month, COLLECT_SET(opp) AS opportunity_id_a FROM arr_product_status_mid LATERAL VIEW EXPLODE (opportunity_id) t AS opp GROUP BY account_id, service_month',
 'SELECT service_month,\n       account_id,\n       account_name,\n       mapped_product,\n       mid_product,\n       product_name,\n       account_status,\n       mapped_status,\n       mid_status,\n       product_status,\n       arr_p,\n       cum_arr_p,\n       prev_cum_arr_p,\n       opportunity_id_p,\n       prev_opportunity_id_p,\n       opportunity_id_nw\nFROM arr_full_status']

## nested with CTE

In [100]:
query_list = [{'level_1_main': 'SELECT * FROM T '},
 {'T': 'SELECT * FROM custom_sql_query '},
 {'custom_sql_query': [{'reg_users': [{'level_1_main': 'SELECT * WHERE context_campaign_name IS NOT NULL FROM no alias '},
     {'level_2_main': 'SELECT a.*,        b.*,        c.*,        d.* FROM a LEFT JOIN b ON a.user_id = b.id LEFT JOIN c ON a.anonymous_id = c.anon_id_ad LEFT JOIN d ON a.anonymous_id = d.anon_id_event '},
     {'a': "SELECT DISTINCT anonymous_id, user_id FROM mapbox_customer_data.segment_identifies WHERE dt >= '2018-07-01' AND anonymous_id IS NOT NULL AND user_id IS NOT NULL "},
     {'c': "SELECT anonymous_id AS anon_id_ad, context_campaign_name, min(TIMESTAMP) AS min_exposure FROM mapbox_customer_data.segment_pages WHERE dt >= '2018-07-01' AND context_campaign_name IS NOT NULL GROUP BY 1, 2"},
     {'b': "SELECT id, email, created FROM mapbox_customer_data.accounts WHERE cast(dt AS DATE) = CURRENT_DATE - INTERVAL '1' DAY "},
     {'d': "SELECT DISTINCT anonymous_id AS anon_id_event, original_timestamp, event, context_traits_email FROM mapbox_customer_data.segment_tracks WHERE dt >= '2018-07-01' AND event LIKE 'submitted_%form' AND context_traits_email IS NOT NULL "}]},
   {'main_query': 'SELECT a.*,\n       b.*\nFROM cleaned_list a\nLEFT JOIN mql_flag b ON a.event_email = b.email'}]}]

In [101]:
query_list

[{'level_1_main': 'SELECT * FROM T '},
 {'T': 'SELECT * FROM custom_sql_query '},
 {'custom_sql_query': [{'reg_users': [{'level_1_main': 'SELECT * WHERE context_campaign_name IS NOT NULL FROM no alias '},
     {'level_2_main': 'SELECT a.*,        b.*,        c.*,        d.* FROM a LEFT JOIN b ON a.user_id = b.id LEFT JOIN c ON a.anonymous_id = c.anon_id_ad LEFT JOIN d ON a.anonymous_id = d.anon_id_event '},
     {'a': "SELECT DISTINCT anonymous_id, user_id FROM mapbox_customer_data.segment_identifies WHERE dt >= '2018-07-01' AND anonymous_id IS NOT NULL AND user_id IS NOT NULL "},
     {'c': "SELECT anonymous_id AS anon_id_ad, context_campaign_name, min(TIMESTAMP) AS min_exposure FROM mapbox_customer_data.segment_pages WHERE dt >= '2018-07-01' AND context_campaign_name IS NOT NULL GROUP BY 1, 2"},
     {'b': "SELECT id, email, created FROM mapbox_customer_data.accounts WHERE cast(dt AS DATE) = CURRENT_DATE - INTERVAL '1' DAY "},
     {'d': "SELECT DISTINCT anonymous_id AS anon_id_event, original_timestamp, event, context_traits_email FROM mapbox_customer_data.segment_tracks WHERE dt >= '2018-07-01' AND event LIKE 'submitted_%form' AND context_traits_email IS NOT NULL "}]},
   {'main_query': 'SELECT a.*,\n       b.*\nFROM cleaned_list a\nLEFT JOIN mql_flag b ON a.event_email = b.email'}]}]

In [102]:
unnest_query_list(query_list)

['SELECT * FROM T ',
 'SELECT * FROM custom_sql_query ',
 'SELECT * WHERE context_campaign_name IS NOT NULL FROM no alias ',
 'SELECT a.*,        b.*,        c.*,        d.* FROM a LEFT JOIN b ON a.user_id = b.id LEFT JOIN c ON a.anonymous_id = c.anon_id_ad LEFT JOIN d ON a.anonymous_id = d.anon_id_event ',
 "SELECT DISTINCT anonymous_id, user_id FROM mapbox_customer_data.segment_identifies WHERE dt >= '2018-07-01' AND anonymous_id IS NOT NULL AND user_id IS NOT NULL ",
 "SELECT anonymous_id AS anon_id_ad, context_campaign_name, min(TIMESTAMP) AS min_exposure FROM mapbox_customer_data.segment_pages WHERE dt >= '2018-07-01' AND context_campaign_name IS NOT NULL GROUP BY 1, 2",
 "SELECT id, email, created FROM mapbox_customer_data.accounts WHERE cast(dt AS DATE) = CURRENT_DATE - INTERVAL '1' DAY ",
 "SELECT DISTINCT anonymous_id AS anon_id_event, original_timestamp, event, context_traits_email FROM mapbox_customer_data.segment_tracks WHERE dt >= '2018-07-01' AND event LIKE 'submitted_%form' AND context_traits_email IS NOT NULL ",
 'SELECT a.*,\n       b.*\nFROM cleaned_list a\nLEFT JOIN mql_flag b ON a.event_email = b.email']

In [106]:
query = """SELECT *
FROM
  (SELECT *
   FROM
     (WITH reg_users AS
        (SELECT *
         FROM
           (SELECT a.* ,
                   b.* ,
                   c.* ,
                   d.*
            FROM
              (SELECT DISTINCT anonymous_id ,
                               user_id
               FROM mapbox_customer_data.segment_identifies
               WHERE dt >= '2018-07-01'
                 AND anonymous_id IS NOT NULL
                 AND user_id IS NOT NULL ) a
            LEFT JOIN
              (SELECT id ,
                      email ,
                      created
               FROM mapbox_customer_data.accounts
               WHERE cast(dt AS DATE) = CURRENT_DATE - INTERVAL '1' DAY ) b ON a.user_id = b.id
            LEFT JOIN
              (SELECT anonymous_id AS anon_id_ad ,
                      context_campaign_name ,
                      min(TIMESTAMP) AS min_exposure
               FROM mapbox_customer_data.segment_pages
               WHERE dt >= '2018-07-01'
                 AND context_campaign_name IS NOT NULL
               GROUP BY 1,
                        2) c ON a.anonymous_id = c.anon_id_ad
            LEFT JOIN
              (SELECT DISTINCT anonymous_id AS anon_id_event ,
                               original_timestamp ,
                               event ,
                               context_traits_email
               FROM mapbox_customer_data.segment_tracks
               WHERE dt >= '2018-07-01'
                 AND event LIKE 'submitted_%form'
                 AND context_traits_email IS NOT NULL ) d ON a.anonymous_id = d.anon_id_event)
         WHERE context_campaign_name IS NOT NULL ),


           non_reg_users AS
        (SELECT context_campaign_name ,
                min_exposure ,
                event ,
                original_timestamp AS event_timestamp ,
                context_traits_email AS event_email
         FROM
           (SELECT a.* ,
                   b.*
            FROM
              (SELECT anonymous_id AS anon_id_ad ,
                      context_campaign_name ,
                      min(original_timestamp) AS min_exposure
               FROM
                 (SELECT context_campaign_name ,
                         anonymous_id ,
                         original_timestamp
                  FROM mapbox_customer_data.segment_pages
                  WHERE dt >= '2018-07-01'
                    AND context_campaign_name IS NOT NULL )
               GROUP BY 1,
                        2) a
            LEFT JOIN
              (SELECT DISTINCT anonymous_id AS anon_id_event ,
                               original_timestamp ,
                               event ,
                               context_traits_email
               FROM mapbox_customer_data.segment_tracks
               WHERE dt >= '2018-07-01'
                 AND event LIKE 'submitted_%form'
                 AND context_traits_email IS NOT NULL ) b ON a.anon_id_ad = b.anon_id_event)
         WHERE anon_id_event IS NOT NULL
           AND to_unixtime(min_exposure) <= to_unixtime(original_timestamp)
           AND cast(min_exposure AS DATE) >= cast(original_timestamp AS DATE) - INTERVAL '28' DAY ),


           mql_flag AS
        (SELECT email ,
                created_date ,
                last_mql_date_c ,
                mql_flag
         FROM
           (SELECT email ,
                   min(created_date) created_date ,
                   max(last_mql_date_c) last_mql_date_c ,
                   CASE
                       WHEN max(last_mql_date_c) IS NOT NULL THEN 1
                       ELSE 0
                   END AS mql_flag ,
                   sum(CASE
                           WHEN is_deleted = TRUE THEN 1
                           ELSE 0
                       END) AS is_deleted
            FROM sales.salesforce_leads
            WHERE cast(dt AS DATE) = CURRENT_DATE - INTERVAL '1' DAY
            GROUP BY 1)
         WHERE mql_flag = 1
           AND is_deleted = 0 ),


           cleaned_list AS
        (SELECT DISTINCT *
         FROM
           (SELECT context_campaign_name ,
                   min_exposure ,
                   'created_an_account' AS event ,
                   created AS event_timestamp ,
                   email AS event_email
            FROM reg_users
            WHERE to_unixtime(min_exposure) <= to_unixtime(created)
              AND cast(min_exposure AS DATE) >= cast(created AS DATE) - INTERVAL '28' DAY
            UNION ALL SELECT context_campaign_name ,
                             min_exposure ,
                             event ,
                             original_timestamp AS event_timestamp ,
                             context_traits_email AS event_email
            FROM reg_users
            WHERE to_unixtime(min_exposure) <= to_unixtime(original_timestamp)
              AND cast(min_exposure AS DATE) >= cast(original_timestamp AS DATE) - INTERVAL '28' DAY
            UNION ALL SELECT *
            FROM non_reg_users)) 
            
            
            SELECT a.* ,
                   b.*
      FROM cleaned_list a
      LEFT JOIN mql_flag b ON a.event_email = b.email) custom_sql_query
   LIMIT 0) T
LIMIT 0
"""

In [107]:
from sqlanalyzer import column_parser, unbundle, query_analyzer
formatter = column_parser.Parser(query)
formatted = formatter.format_query(query)
print(formatted)

SELECT *
FROM
  (SELECT *
   FROM
     (WITH reg_users AS
        (SELECT *
         FROM
           (SELECT a.*,
                   b.*,
                   c.*,
                   d.*
            FROM
              (SELECT DISTINCT anonymous_id,
                               user_id
               FROM mapbox_customer_data.segment_identifies
               WHERE dt >= '2018-07-01'
                 AND anonymous_id IS NOT NULL
                 AND user_id IS NOT NULL ) a
            LEFT JOIN
              (SELECT id,
                      email,
                      created
               FROM mapbox_customer_data.accounts
               WHERE cast(dt AS DATE) = CURRENT_DATE - INTERVAL '1' DAY ) b ON a.user_id = b.id
            LEFT JOIN
              (SELECT anonymous_id AS anon_id_ad,
                      context_campaign_name,
                      min(TIMESTAMP) AS min_exposure
               FROM mapbox_customer_data.segment_pages
               WHERE dt >= '2018-07-01'
                 AND context_campaign_name IS NOT NULL
               GROUP BY 1,
                        2) c ON a.anonymous_id = c.anon_id_ad
            LEFT JOIN
              (SELECT DISTINCT anonymous_id AS anon_id_event,
                               original_timestamp,
                               event,
                               context_traits_email
               FROM mapbox_customer_data.segment_tracks
               WHERE dt >= '2018-07-01'
                 AND event LIKE 'submitted_%form'
                 AND context_traits_email IS NOT NULL ) d ON a.anonymous_id = d.anon_id_event)
         WHERE context_campaign_name IS NOT NULL ),
           non_reg_users AS
        (SELECT context_campaign_name,
                min_exposure,
                event,
                original_timestamp AS event_timestamp,
                context_traits_email AS event_email
         FROM
           (SELECT a.*,
                   b.*
            FROM
              (SELECT anonymous_id AS anon_id_ad,
                      context_campaign_name,
                      min(original_timestamp) AS min_exposure
               FROM
                 (SELECT context_campaign_name,
                         anonymous_id,
                         original_timestamp
                  FROM mapbox_customer_data.segment_pages
                  WHERE dt >= '2018-07-01'
                    AND context_campaign_name IS NOT NULL )
               GROUP BY 1,
                        2) a
            LEFT JOIN
              (SELECT DISTINCT anonymous_id AS anon_id_event,
                               original_timestamp,
                               event,
                               context_traits_email
               FROM mapbox_customer_data.segment_tracks
               WHERE dt >= '2018-07-01'
                 AND event LIKE 'submitted_%form'
                 AND context_traits_email IS NOT NULL ) b ON a.anon_id_ad = b.anon_id_event)
         WHERE anon_id_event IS NOT NULL
           AND to_unixtime(min_exposure) <= to_unixtime(original_timestamp)
           AND cast(min_exposure AS DATE) >= cast(original_timestamp AS DATE) - INTERVAL '28' DAY ),
           mql_flag AS
        (SELECT email,
                created_date,
                last_mql_date_c,
                mql_flag
         FROM
           (SELECT email,
                   min(created_date) created_date,
                   max(last_mql_date_c) last_mql_date_c,
                   CASE
                       WHEN max(last_mql_date_c) IS NOT NULL THEN 1
                       ELSE 0
                   END AS mql_flag,
                   sum(CASE
                           WHEN is_deleted = TRUE THEN 1
                           ELSE 0
                       END) AS is_deleted
            FROM sales.salesforce_leads
            WHERE cast(dt AS DATE) = CURRENT_DATE - INTERVAL '1' DAY
            GROUP BY 1)
         WHERE mql_flag = 1
           AND is_deleted = 0 ),
           cleaned_list AS
        (SELECT DISTINCT *
         FROM
           (SELECT context_campaign_name,
                   min_exposure,
                   'created_an_account' AS event,
                   created AS event_timestamp,
                   email AS event_email
            FROM reg_users
            WHERE to_unixtime(min_exposure) <= to_unixtime(created)
              AND cast(min_exposure AS DATE) >= cast(created AS DATE) - INTERVAL '28' DAY
            UNION ALL SELECT context_campaign_name,
                             min_exposure,
                             event,
                             original_timestamp AS event_timestamp,
                             context_traits_email AS event_email
            FROM reg_users
            WHERE to_unixtime(min_exposure) <= to_unixtime(original_timestamp)
              AND cast(min_exposure AS DATE) >= cast(original_timestamp AS DATE) - INTERVAL '28' DAY
            UNION ALL SELECT *
            FROM non_reg_users)) SELECT a.*,
                                        b.*
      FROM cleaned_list a
      LEFT JOIN mql_flag b ON a.event_email = b.email) custom_sql_query
   LIMIT 0) T
LIMIT 0